{% extends "base.html" %}
{% load staticfiles %}

{% block CSS %}
<link href="{% static 'stylesheets/datepicker.css' %}" rel="stylesheet">
<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">	
{% endblock CSS %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span12 well">
			<h3>Email Management</h3>
			
			<form action="getemails/" method="get">
				<div class="row-fluid">
					<div class="span12">
						<label for="is_filter_1" class="radio"><input type="radio" name="is_filter" id="is_filter_1" value="all" checked> Get a list of all users</label>
						<hr>
						<label for="is_filter_2" class="radio"><input type="radio" name="is_filter" id="is_filter_2" value="filter"> Advanced</label>
					</div>
				</div>
				<span id="advanced">
				<div class="row-fluid">
					<div class="span11 offset1">
						<label for="filter_date" class="checkbox"><input type="checkbox" name="filter_date" id="filter_date" value="yes"> Filter by date</label>
						<p class="offset1">Enter the date (by default it is a week ago)</p>
						<div class="input-append date datepicker offset1" data-date="{{ initialdate }}" id="select_date" data-date-format="yyyy-mm-dd">
							{{ sinceform.since }}
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span11 offset1">
						<label for="filter_comps" class="checkbox"><input type="checkbox" name="filter_comps" id="filter_comps" value="yes"> Filter by liked companies</label>
						<span id="select_comps"><p class="offset1">Select the companies</p>
						{{ sinceform.comps }}</span>
					</div>
				</div>
				</span>


				<div class="row-fluid">
					<div class="span12">
						<hr>
						<label for="include_comp_users" class="checkbox"><input type="checkbox" name="include_comp_users" id="include_comp_users" value="yes"> Include company users?</label>
						<input class="btn btn-primary" type="submit">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}


{% block JS %}
	<script type="text/javascript" src="{% static 'javascript/select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/bootstrap-datepicker.js' %}"></script>
{% endblock JS %}

{% block jQuery %}
<script type="text/javascript">
	function selectify () {
		if (($("body").width() > 767)){
			$("select").not(".not-select2").select2();
		} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
			$("select").not(".not-select2").select2();
		}
	}
	$(document).ready(function() {
		selectify();
		$('.datepicker').datepicker();

		if ($("#is_filter_1").prop('checked')){
			$("#advanced input").prop({"disabled": true});
			$("#advanced select").select2("disable");
		}


		$("#is_filter_1").change(function(){
			if ($(this).prop('checked')){
				$("#advanced input").prop({"disabled": true});
				$("#select_comps select").select2("disable");
			}
		});

		$("#is_filter_2").change(function(){
			if ($(this).prop('checked')){
				$("#advanced input").not("#select_date input, #select_comps select").prop({"disabled": false});
				if ($("#filter_date").prop('checked')){
					$("#select_date input").prop({"disabled": false});
				} else{
					$("#select_date input").prop({"disabled": true});
				}

				if ($("#filter_comps").prop('checked')){
					$("#select_comps input").prop({"disabled": false});
					$("#select_comps select").select2("enable");
				} else{
					$("#select_comps input").prop({"disabled": true});
					$("#select_comps select").select2("disable");
				}

			}
		});



		$("#filter_date").change(function(){
			if ($(this).prop('checked')){
				$("#select_date input").prop({"disabled": false});
			} else{
				$("#select_date input").prop({"disabled": true});
			}
		});

		$("#filter_comps").change(function(){
			if ($(this).prop('checked')){
				$("#select_comps input").prop({"disabled": false});
				$("#select_comps select").select2("enable");
			} else{
				$("#select_comps input").prop({"disabled": true});
				$("#select_comps select").select2("disable");
			}
		});

	});
	
</script>
	
{% endblock jQuery %}
