{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<h2>Review the difference</h2>
			<h3>Changes:</h3>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Object</th>
						<th>Field</th>
						<th>New value</th>
						<th>Old Value</th>
					</tr>
				</thead>
				<tbody>
				{% for diff in diffs %}
					<tr>
						<td>{{ diff.0 }}</td>
						<td>{{ diff.1 }}</td>
						<td>{{ diff.2 }}</td>
						<td>{{ diff.3 }}</td>
					</tr>
				{% empty %}
					<tr class="info"><td colspan="4">This version is the same as the latest admin approved one</td></tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<!-- <div class="btn-group">
				<a class="btn btn-info" href="{{ url_this_version }}" target="_blank">Go to admin of this suggestion</a>
				<a class="btn btn-primary" href="{{ url_approved_version }}" target="_blank">Go to admin of the latest approved entry</a>
			</div>
			<br>
			<br> -->
			{% if not hide_reject %}
			<div class="btn-group">
				<a class="btn btn-large btn-success" href="approve/">Approve</a>
				<a class="btn btn-large btn-danger" href="reject/">Reject</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
