{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<table id="change-history" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date/time</th>
                            <th scope="col">User</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Approval status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                            <tr class="
                            {% if submission.versionapprove_set.all.0.is_approved == 1 %}
                                success
                            {% elif submission.versionapprove_set.all.0.is_approved == 0 %}
                                warning
                            {% else %}
                                error
                            {% endif %}
                            ">
                                <td scope="row"><strong><a href="{{submission.pk}}">{{submission.date_created}}</a></strong></td>
                                <td>
                                    {% if submission.user %}
                                        {{submission.user.username}}
                                        {% if submission.user.first_name %} ({{submission.user.first_name}} {{submission.user.last_name}}){% endif %}
                                    {% endif %}
                                </td>
                                <td>{{submission.comment|linebreaksbr|default:""}}</td>
                                <td>{{submission.versionapprove_set.all.0.get_is_approved_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

		</div>
	</div>
</div>
{% endblock content %}
