{% extends "base.html" %}
{% load staticfiles %}
{% block CSS %}
	<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'stylesheets/DT_bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/docs_searchbox.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/docs_resultspage.css' %}" rel="stylesheet">
	<style>
		{% if not user.is_authenticated %}
			.hidden-fin-info{
				border: 1px dashed gray;
				background-color: #eeeeee !important;
			}
		{% endif %}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<!-- change results -->
		<div class="row-fluid">
			<!-- <div class="span12 well">
				You have searched for : ... -->
				<!-- <a class="btn btn-success" href="#changesearch" data-toggle="modal">Change search</a> -->
			<!-- </div>  -->
			<!-- change search modal -->
			<div id="changesearch" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="myModalLabel">Change the search criteria</h4>
				</div>
				<form class="form-horizontal">
					<div class="modal-body">
						{% include "searchbox.html" %}
						<div class="modal-footer-mobile pull-right">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row-fluid">
			<!-- THE SEARCH results -->
			<div class="span9">
				{% if not user.is_authenticated %}
					<p class="alert">To see financial info in search results you need to <a href="#signin" data-toggle="modal">login</a>. 
					If you don't have an account, <a href="#signup" data-toggle="modal">sign up</a>! It's free!</p>
				{% endif %}
				<table class="table table-striped table-hover" id="results">
					<thead>
						<tr>
							<th class="table-sort-header">Sort</th>
							<th>Tk Symbol</th>
							<th>Name</th>
							<th>Price</th>
							<th>Volume</th>
							<th>Market Cap</th>
							<th>Shares Outs.</th>
							<th>52 wk low/high</th>

							<th class="table-sort-header">Volume</th>
							<th class="table-sort-header">Market Cap</th>
							<th class="table-sort-header">Shares Outs.</th>
							<th class="table-sort-header">52 wk low/high</th>
						</tr>
					</thead>
					<tbody class="search-results">
						{% for result in results %}
							<tr>
								{% if user.is_authenticated %}
									{{ result.rendered_auth|safe }}
								{% else %}
									{{ result.rendered_notauth|safe }}
								{% endif %}
								
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<em>Quote data delayed 15 minutes</em>
				<a class="btn btn-success" href="#changesearch" data-toggle="modal">Change search critera</a>
			</div>

			<!-- the side ad -->
			<div class="span3">
				{% if results_client_side_ad %}
				<div class="row-fluid">
					<div class="span12">
						<a href="/msadtrackr/{{ results_client_side_ad.pk }}/alkjsdhf7w6laksjf8389/" target="_blank"><img src="/media/{{ results_client_side_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
				{% if results_broker_side_ad %}
				<div class="row-fluid">
					<div class="span12">
						<a href="/msadtrackr/{{ results_broker_side_ad.pk }}/adsfu721yoflaiufialwfku/" target="_blank"><img src="/media/{{ results_broker_side_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block JS %}
	<script src="{% static 'javascript/jquery.dataTables.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'javascript/DT_bootstrap.js' %}" type="text/javascript"></script>
	<script src="{% static 'javascript/select2.js' %}" type="text/javascript"></script>
	<script src="{% static 'javascript/humanize.js' %}" type="text/javascript"></script>
{% endblock %}
{% block jQuery %}
	<script type="text/javascript">
		$(document).ready(function() {

			jQuery.extend( jQuery.fn.dataTableExt.oSort, {
				"formatted-num-pre": function ( a ) {
					a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
					return parseFloat( a );
				},
			 
				"formatted-num-asc": function ( a, b ) {
					return a - b;
				},
			 
				"formatted-num-desc": function ( a, b ) {
					return b - a;
				}
			} );

			jQuery.extend( jQuery.fn.dataTableExt.oSort, {
				"title-string-pre": function ( a ) {
					try{
						s = parseFloat(a.match(/title="(.*?)"/)[1].toLowerCase());
					}
					catch(err){
						s = ''
					}
					return s
				},
			 
				"title-string-asc": function ( a, b ) {
					return a - b;
				},
			 
				"title-string-desc": function ( a, b ) {
					return b - a;
				}
			} );


			if (($("body").width() > 767)){
				$("#id_commodities, #location").select2();
			} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
				$("#id_commodities, #location").select2();
			}

			$premiums = $('.premium-sort');
			var randomIndex = Math.floor(Math.random() * $premiums.length);
			$($premiums[randomIndex]).prepend('0');
			
			$('#results').dataTable({
				"aoColumns":[null, null, null, { "sType": "formatted-num" }, { "sType": "title-string" }, { "sType": "title-string" }, { "sType": "title-string" }, { "sType": "title-string" }],
				"oLanguage": {
					"sSearch": "Filter:",
					"sInfo": "Showing _START_ to _END_ of _TOTAL_ results",
					"sInfoEmpty": "Search did not match any results",
				},
				"fnInitComplete": function(oSettings, json) {
						// sponser color
						$("tbody.search-results tr:nth-child(1) > td").addClass('search-sponser');
						$(".search-sponser.premium-client:nth-child(2)").append(" <a class='my-tooltip' href='#' data-toggle='tooltip' data-title='premium profile' data-placement='bottom' style='color: black;'><i class='icon-info-sign'></i></a>");
						$('.my-tooltip').tooltip();
					},
			});

			$("#status_all").change(function(){
				if ($(this).prop('checked')){
					$("input[name=status]").prop({"checked": true, "disabled": true});
				} else{
					$("input[name=status]").prop({"checked": false, "disabled": false});
				}
			});
		});
	</script>
{% endblock %}