/*tbody.search-results tr:nth-child(1) > td{
	background-color: rgb(255, 255, 140);
}*/

.search-sponser.premium-client{
	background-color: rgb(255, 255, 140) !important;
}

.table th{
	font-weight: normal;
}

.table-sort-header{
	display: none !important;
	width: 0 !important;
}

#results{
	width: 100% !important;
}

@media (max-width: 767px) and (min-width: 0px) {
	#results{
		overflow-x: auto;
		display: block;
	}
}
