{% extends "base.html" %}
{% load staticfiles %}
{% load cedit_extra %}

{% block CSS %}
	<link href="{% static 'stylesheets/docs_profileEdit.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
	
	<form action="." method="POST" id="edit_from" enctype="multipart/form-data">{% csrf_token %}
	<div class="row-fluid">
		<div class="span2">
			<div class="affix">
				{% if company.logo %}
					<a href=".."><img src="/media/{{ company.logo }}"></a>
				{% else %}
					<a href=".."><img src="{% static 'placeholder.jpg' %}"></a>
				{% endif %}
				<br>
				{{ companyform.logo }}
				<br>
				<br>
				<ul class="nav nav-list">
	  				<li><a href=".."><i class="icon-home"></i>Profile</a></li>
	  				{% if company in user.userprofile.tracked_companies.all %}

	  					<li id="track-li" style="display: none;">
	  						<a id="comp_track" href="#"><i class="icon-plus"></i>Follow</a>
	  					</li>

						<li id="tracking-li">
	  						<a id="comp_tracking" href="#"><i class="icon-ok"></i>Following</a>
	  					</li>

	  					<li id="untrack-li" style="display: none;">
	  						<a id="comp_untrack" href="#" style="background-color: red; color: white;"><i class="icon-minus"></i>Unfollow</a>
	  					</li>

	  				{% else %}

	  					<li id="track-li">
	  						<a id="comp_track" href="#"><i class="icon-plus"></i>Follow</a>
	  					</li>

						<li id="tracking-li" style="display: none;">
	  						<a id="comp_tracking" href="#"><i class="icon-ok"></i>Following</a>
	  					</li>

	  					<li id="untrack-li" style="display: none;">
	  						<a id="comp_untrack" href="#" style="background-color: red; color: white;"><i class="icon-minus"></i>Unfollow</a>
	  					</li>

	  				{% endif %}
	  				<li class="active"><a href="#"><i class="icon-pencil"></i>Editing ...</a></li>
	  				<li class="divider"></li>
				</ul>
				<button type="button" data-toggle="modal" data-target="#confirm_submit" class="btn btn-primary span12" style="margin-left: 0; margin-top:10px"><i class="icon-check icon-white"></i>Submit</button>
			</div>
		</div>
		<div class="span10">
			<!-- name and description -->
			<div class="row-fluid">
				<div class="span12">
					<div class="jumbotron">
						<p>{{ companyform.company_name }} ({{ company.ticker_symbol }})</p>
						<p class="lead">{{ companyform.company_desc }}</p>
						{% if company.company_level > 0 %}
							<p>{{ companyform.comp_add_info }}</p>
						{% endif %}
					</div>
					<hr>
				</div>
			</div>
			<!-- the rest of the info -->
			<div class="row-fluid">

				<div class="span8">
					<div class="row-fluid">
						<div class="span6">
							<table class="table table-noheader">
								<tr>
									<td class="span6">Price</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.price }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Volume</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_volume }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Avg. daily vol. (3m)</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.avg_daily_vol }}</strong></td>
								</tr>
								<tr>
									<td class="span6">50 day avg.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_low }}</strong></td>
								</tr>
								<tr>
									<td class="span6">200 day avg.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.twohundred_day_average }}</strong></td>
								</tr>
							</table>
						</div>
						<div class="span6">
							<table class="table table-noheader">
								<tr>
									<td class="span6">52 wk low</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_low }}</strong></td>
								</tr>
								<tr>
									<td class="span6">52 wk high</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_high }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Market cap.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_mkcap }}</strong></td>
								</tr>
								{% if user|edit_permission_check:company %}
								<tr>
									<td class="span6">Shares outstanding</td>
									<td class="span6 right-align">{{ financialinfoform.outstanding }}</td>
								</tr>
								<tr>
									<td class="span11">Override Shares outstanding?</td>
									<td class="span1 right-align">{{ financialinfoform.override_outstanding }}</td>
								</tr>
								{% else %}
								<tr>
									<td class="span6">Shares outstanding</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_outstanding }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Market cap.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_mkcap }}</strong></td>
								</tr>
								{% endif %}
							</table>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12">
							<h4>Management Team</h4>
							<table class="table" id="officer_table">
								<thead>
									<th><i class="icon-trash"></i></th>
									<th>Name</th>
									<th>Position</th>
								</thead>
								{% for officerform in managementforms %}
								<tbody>
									<tr>
										<td>{{ officerform.deleteq }}</td>
										<td>{{ officerform.officer_name }}</td>
										<td>{{ officerform.positions }}</td>
									</tr>
								</tbody>
								{% empty %}
								<p>No officers to show. You can add some!</p>
								{% endfor %}
							</table>
							<input type="hidden" id="officer_count" name="officer_new_count" value="0">
							<button type="button" class="btn btn-info pull-right" id="add_officer"><i class="icon-plus icon-white"></i>Add someone</button>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="row-fluid">
						<div class="span12 well">
							<h4>Address</h4>
							<p>{{ contactinfoform.address }}</p>
							<table style="width: 100%">
								<tr><td>Phone:</td><td>{{ contactinfoform.tel }}</td></tr>
								<tr><td>Toll Free:</td><td>{{ contactinfoform.toll_free }}</td></tr>
								<tr><td>Fax:</td><td>{{ contactinfoform.fax }}</td></tr>
								<tr><td>Email:</td><td>{{ contactinfoform.email }}</td></tr>
								<tr><td>Webstie:</td><td>{{ contactinfoform.website }}</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			{% if not propertyforms %}
			<div class="row-fluid">
				<div class="span12">
					<h4>Looking for commodities:</h4>
					{{ companyform.looking_for_commodities }}
				</div>
			</div>
			{% endif %}

			
			<div class="row-fluid">
				<div class="span12">
					<h4>Properties</h4>
					<table class="table table-overflow table-props" id="prop_table">
						{% for property in propertyforms %}
						<tbody>
							<tr>
								<td class="first_prop_row"><i class="icon-trash"></i></td>
								<td class="first_prop_row">Name</td>
								<td class="first_prop_row">Commodities</td>
								<td class="first_prop_row">Status</td>
							</tr>
							<tr>
								<td>{{ property.deleteq }}</td>
								<td>{{ property.property_name }}</td>
								<td>{{ property.commodities }}</td>
								<td>{{ property.status }}</td>
							</tr>
							<tr>
								<td>Estimate?</td>
								<td>Ownership</td>
								<td>Option</td>
								<td>Location</td>
							</tr>
							<tr>
								<td>{{ property.estimate }}</td>
								<td>{{ property.ownership }}</td>
								<td>{{ property.option }}</td>
								<td>{{ property.state }}</td>
							</tr>
						</tbody>
						{% empty %}
						<p>No properties to show. You can add some!</p>
						{% endfor %}
					</table>
					<input type="hidden" id="prop_count" name="prop_new_count" value="0">
					<button type="button" class="btn btn-info pull-right" id="add_prop"><i class="icon-plus icon-white"></i>Add a property</button>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h4>Latest News</h4>
					<p>RSS link: {{ companyform.rss_news }}</p>
				</div>
			</div>
			{% if company.company_level > 0 %}
			<div class="row-fluid">
				<div class="span12 social-edit">
					<h4>Social media</h4>
					<dl class="dl-horizontal">
		  				<dt>Facebook</dt><dd>{{ socialform.facebook }}</dd>
		  				<dt>Twitter</dt><dd>{{ socialform.twitter }}</dd>
		  				<dt>YouTube</dt><dd>{{ socialform.tumblr }}</dd>
		  				<dt>Flickr</dt><dd>{{ socialform.flickr }}</dd>
		  				<dt>Presentation</dt><dd>{{ socialform.pinterest }}</dd>
		  				<dt>Fact Sheet</dt><dd>{{ socialform.instagram }}</dd>
		  				<dt>43-101</dt><dd>{{ socialform.google }}</dd>
		  			</dl>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	{% block confirm_submit_modal %}
	<!-- confirm submit Modal -->
	<div id="confirm_submit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Confirm submission</h3>
		</div>
		<div class="modal-body">
			<textarea required name="comment" id="" style="width: 97%" rows="3" placeholder="Leave a comment on your changes"></textarea>
			{% if user|edit_permission_check:company %}
			<p>Your changes are being submitted in real time. It may take up to 15 minutes for them to get reflected in the search results.</p>
			{% else %}
			<p>Thank you for your suggestion, your change(s) have been submitted for review.</p>
			{% endif %}
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" class="btn btn-primary" value="Submit">
		 </div>
	</div>
	{% endblock confirm_submit_modal %}
</form>
</div>
{% endblock %}

{% block JS %}
	<script type="text/javascript" src="{% static 'javascript/select2.js' %}"></script>
{% endblock JS %}

{% block jQuery %}
	<script type="text/javascript">
		String.prototype.sprintf = function(){
			// if argument list is empty
			// return this as new string
			if(arguments.length === 0)
				return this;

			// copy all arguments except the first one
			var newArgs = [].slice.call(arguments,1);    

			// Replace %d, %s, %f, %l, %u with first argument
			var tempString = this.replace(/%[dsflu]/,arguments[0]);

			// call again until all arguments are used
			return tempString.sprintf.apply(tempString,newArgs);
		};

		prop_new = {% spaceless %}'<tbody> \
						<tr> \
							<td class="first_prop_row"><i class="icon-trash"></i></td> \
							<td class="first_prop_row">Name</td> \
							<td class="first_prop_row">Commodities</td> \
							<td class="first_prop_row">Status</td> \
						</tr> \
						<tr> \
							<td>{{ propertyform_add.deleteq }}</td> \
							<td>{{ propertyform_add.property_name }}</td> \
							<td>{{ propertyform_add.commodities }}</td> \
							<td>{{ propertyform_add.status }}</td> \
						</tr> \
						<tr> \
							<td>Estimate?</td> \
							<td>Ownership</td> \
							<td>Option</td> \
							<td>Location</td> \
						</tr> \
						<tr> \
							<td>{{ propertyform_add.estimate }}</td> \
							<td>{{ propertyform_add.ownership }}</td> \
							<td>{{ propertyform_add.option }}</td> \
							<td>{{ propertyform_add.state }}</td> \
						</tr> \
					</tbody>' {% endspaceless %}

			officer_new = {% spaceless %}'<tbody> \
									<tr> \
										<td>{{ managementform_add.deleteq }}</td> \
										<td>{{ managementform_add.officer_name }}</td> \
										<td>{{ managementform_add.positions }}</td> \
									</tr>\
								</tbody>' {% endspaceless %}

		function selectify () {
			if (($("body").width() > 767)){
				$("select").not(".not-select2").select2();
			} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
				$("select").not(".not-select2").select2();
			}
		}

		$(document).ready(function() {
			{% if company.financialinfo.override_outstanding %}
			$("#id_outstanding").prop('disabled', false);
			{% endif %}



			selectify();

			$("input[id$='-deleteq']").live('change', function(){
				if ($(this).prop('checked')){
					$(this).parents('tbody').addClass('input-row-disabled');
				} else{
					$(this).parents('tbody').removeClass('input-row-disabled');
				}
			});

			$("#id_override_outstanding").change(function(){
				if ($(this).prop('checked')){
					$("#id_outstanding").prop('disabled', false);
				} else{
					$("#id_outstanding").prop('disabled', true);
				}
			});


			$("#add_prop").mouseup(function(){
				prop_c = parseInt($("#prop_count").val());
				//console.log(prop_new);
				//console.log(prop_new.sprintf(prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c))
				$("#prop_table").append(String(prop_new.sprintf(prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c, prop_c)));
				$("#prop_count").val(prop_c+1);
				selectify();
			});

			$("#add_officer").mouseup(function(){
				officer_c = parseInt($("#officer_count").val());
				//console.log(officer_new);
				//console.log(officer_new.sprintf(officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c))
				$("#officer_table").append(String(officer_new.sprintf(officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c, officer_c)));
				$("#officer_count").val(officer_c+1);
				selectify();
			});


			$("#comp_track").click(function(){
				$.ajax({
					'url': '../track',
					'success': function(data){
								$("#track-li").hide();
								$("#tracking-li").show();},
					'error': function(data){
								$("#signin").modal("show");
							}
				});
			});

			$('#tracking-li').mouseover(function() {
				if ($(this).is(":visible")){
					$(this).hide();
					$("#untrack-li").show();
				}
			})

			$('#untrack-li').mouseout(function() {
				if ($(this).is(":visible")){
					$(this).hide();
					$("#tracking-li").show();
				}
			});

			$("#comp_untrack").click(function(){
				$.ajax({
					'url': '../untrack',
					'success': function(data){
								$("#track-li").show();
								$("#tracking-li").hide();
								$("#untrack-li").hide();},
					'error': function(data){
								alert("Something went wrong, you can refresh the page and try again.");}
				});
			});
		});
	</script>
</script>
{% endblock jQuery %}