{% extends "base.html" %}
{% load staticfiles %}
{% load cedit_extra %}

{% load cache %}
{% load rss %}

{% block CSS %}
	<link href="{% static 'stylesheets/docs_profilepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
	<div class="row-fluid">
		<div class="span2">
			<div class="row-fluid"><div class="span12">
				{% if company.logo %}
					<img src="/media/{{ company.logo }}">
				{% else %}
					<img src="{% static 'placeholder.jpg' %}">
				{% endif %}
				<br>
				<br>
				<ul class="nav nav-list">
	  				<li class="active"><a href="#"><i class="icon-home"></i>Profile</a></li>
	  				{% if company in user.userprofile.tracked_companies.all %}

	  					<li id="track-li" style="display: none;">
	  						<a id="comp_track" href="#"><i class="icon-plus"></i>Follow ({{ tracking }})</a>
	  					</li>

						<li id="tracking-li">
	  						<a id="comp_tracking" href="#"><i class="icon-ok"></i>Following ({{ tracking }})</a>
	  					</li>

	  					<li id="untrack-li" style="display: none;">
	  						<a id="comp_untrack" href="#" style="background-color: red; color: white;"><i class="icon-minus"></i>Unfollow</a>
	  					</li>

	  				{% else %}

	  					<li id="track-li">
	  						<a id="comp_track" href="#"><i class="icon-plus"></i>Follow ({{ tracking }})</a>
	  					</li>

						<li id="tracking-li" style="display: none;">
	  						<a id="comp_tracking" href="#"><i class="icon-ok"></i>Following ({{ tracking }})</a>
	  					</li>

	  					<li id="untrack-li" style="display: none;">
	  						<a id="comp_untrack" href="#" style="background-color: red; color: white;"><i class="icon-minus"></i>Unfollow</a>
	  					</li>

	  				{% endif %}
	  				<li><a href="edit"><i class="icon-pencil"></i>Edit profile</a></li>
	  				<li class="divider"></li>

	  				{% if company.company_level > 0 %}
		  				{% if company.socialmedia.facebook %}
		  					<li><a href="{{ company.socialmedia.facebook }}" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
		  				{% endif %}
		  				{% if company.socialmedia.twitter %}
		  					<li><a href="{{ company.socialmedia.twitter }}" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
		  				{% endif %}
		  				{% if company.socialmedia.tumblr %}
		  					<li><a href="{{ company.socialmedia.tumblr }}" target="_blank"><i class="icon-play"></i>YouTube</a></li>
						{% endif %}
		  				{% if company.socialmedia.flickr %}
		  					<li><a href="{{ company.socialmedia.flickr }}" target="_blank"><i class="icon-camera-retro"></i>Flickr</a></li>
						{% endif %}
		  				{% if company.socialmedia.pinterest %}
		  					<li><a href="{{ company.socialmedia.pinterest }}" target="_blank"><i class="icon-columns"></i>Presentation</a></li>
						{% endif %}
		  				{% if company.socialmedia.instagram %}
		  					<li><a href="{{ company.socialmedia.instagram }}" target="_blank"><i class="icon-bar-chart"></i>Fact Sheet</a></li>
						{% endif %}
		  				{% if company.socialmedia.google %}
		  					<li><a href="{{ company.socialmedia.google }}" target="_blank"><i class="icon-file"></i>43-101</a></li>
						{% endif %}
	  				{% endif %}
				</ul>
			</div></div>
			{% if company.company_level == 0 %}
			<div style="margin-top: 15px;">
				{% if profile_side_client_ad %}
				<div class="row-fluid hidden-phone">
					<div class="span12">
						<a href="/msadtrackr/{{ profile_side_client_ad.pk }}/asjAsfiisfofhs831/" target="_blank"><img src="/media/{{ profile_side_client_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
				{% if profile_side_broker_ad %}
				<div class="row-fluid hidden-phone">
					<div class="span12">
						<a href="/msadtrackr/{{ profile_side_broker_ad.pk }}/asjf7sdfue88fofhsew81/" target="_blank"><img src="/media/{{ profile_side_broker_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="span10">
			<!-- name and description -->
			<div class="row-fluid">
				<div class="span12">
					<div class="jumbotron">
						<h3>{{ company.company_name }} ({{ company.ticker_display }})</h3>
						<p>{{ company.company_desc|linebreaks }}</p>
						{% if company.company_level > 0 %}
							<p>{{ company.comp_add_info|linebreaks }}</p>
						{% endif %}
						<p class="pull-right" style="color: gray;">Profile last updated on: {{ company.edit_date }} </p>
						<br>
					</div>
					<hr>
				</div>
			</div>
			<!-- the rest of the info -->
			<div class="row-fluid">

				<div class="span8">
					<div class="row-fluid">
						<div class="span6">
							<table class="table table-noheader">
								<tr>
									<td class="span6">Price</td>
									<td class="span6 right-align">
										<strong>{{ company.financialinfo.price }}</strong>
									</td>
								</tr>
								<tr>
									<td class="span6">Volume</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_volume }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Avg. daily vol. (3m)</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.avg_daily_vol }}</strong></td>
								</tr>
								<tr>
									<td class="span6">50 day avg.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_low }}</strong></td>
								</tr>
								<tr>
									<td class="span6">200 day avg.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.twohundred_day_average }}</strong></td>
								</tr>
							</table>
							<em>Quote data delayed 15 minutes</em>
						</div>
						<div class="span6">
							<table class="table table-noheader">
								<tr>
									<td class="span6">Change in price</td>
									<td class="span6 right-align">
										{{ company.financialinfo.change_in_price|change_in_price_tag|safe }}
									</td>
								</tr>
								<tr>
									<td class="span6">52 wk low</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_low }}</strong></td>
								</tr>
								<tr>
									<td class="span6">52 wk high</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.fiftytwo_week_high }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Shares outstanding</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_outstanding }}</strong></td>
								</tr>
								<tr>
									<td class="span6">Market cap.</td>
									<td class="span6 right-align"><strong>{{ company.financialinfo.shorter_mkcap }}</strong></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row-fluid" style="margin: 5px 0 5px 0;">
						<div class="span12"><img src="http://freechart.globeinvestor.com/servlet/charting?pi_symbol={{ company.chart_grab_symbol }}&chart_width=639&chart_height=380&chart_style=medium_chart&chart_type=png&period=1Y&x_scale=true"></div>
					</div>
				</div>
				<div class="span4">
					<div class="row-fluid">
						<div class="span12 well">
							<h4>Address<a href="edit"> <i class="icon-pencil"></i></a></h4>
							<p>
								{{ company.contactinfo.address|linebreaks }}
								<a href="https://maps.google.ca/?q={{ gmaps_address }}" target="_blank"><i class="icon-map-marker"></i> (View on Google maps)</a>
							</p>
							<p><i class="icon-phone"></i> {{ company.contactinfo.tel }} (Phone)</p>
							<p><i class="icon-phone"></i> {{ company.contactinfo.toll_free }} (Toll Free)</p>
							<p><i class="icon-print"></i> {{ company.contactinfo.fax }} (Fax)</p>
							<!-- <p><a href="mailto:{{ company.contactinfo.email }}">{{ company.contactinfo.email }}</a></p> -->
							<p><i class="icon-envelope"></i> {{ company.contactinfo.email|urlize_newtab|safe }}</p>
							<p><i class="icon-external-link"></i> {{ company.contactinfo.website|urlize_newtab|safe }}</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<h4>Management Team<a href="edit"> <i class="icon-pencil"></i></a></h4>
							<table class="table table-striped">
								<thead>
									<th>Name</th>
									<th>Position</th>
								</thead>
								<tbody>
									{% for officer in company.officer_set.all|dictsort:"pk" %}
									<tr>
										<td>{{ officer.officer_name }}</td>
										<td>
											{% for position in officer.positions.all %}
												{{ position.position_name }}{% if not forloop.last %}, {% endif %}
											{% endfor %}
										</td>
									</tr>
									{% empty %}
									<p>No officers to show. You can add some!</p>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h4>Properties<a href="edit"> <i class="icon-pencil"></i></a></h4>
					<table class="table table-striped table-overflow">
						<thead>
							<th>#</th>
							<th>Name</th>
							<th>Commodity</th>
							<th>Status</th>
							<th>Ownership</th>
							<th>Option</th>
							<th>Estimate</th>
							<th>Region</th>
							<th>Country</th>
							<th>State/Province</th>
						</thead>
						{% for property in company.property_set.all|dictsort:"pk" %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ property.property_name }}</td>
							<td>
							{% for commodity in property.commodities.all %}
								{{ commodity.commodity_name }}{% if not forloop.last %}, {% endif %}
							{% endfor %}
							</td>
							<td>{{ property.get_status_display }}</td>
							<td>{{ property.ownership }}</td>
							<td>{{ property.option }}</td>
							{% if property.estimate %}
								<td>Yes</td>
							{% else %}
								<td>No</td>
							{% endif %}
							<td>{{ property.state.country.region.region_name }}</td>
							<td>{{ property.state.country.country_name }}</td>
							<td>{{ property.state.state_name }}</td>
						</tr>
						{% empty %}
						<p>No properties to show. You can add some!</p>
						{% endfor %}
					</table>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<h4>Latest News<a href="edit"> <i class="icon-pencil"></i></a></h4>
					{% if rss %}
						{% get_rss rss as rss %}
						{% for entry in rss.entries|slice:":5" %}
							<p>({{entry.published|slice:":16"}}) <a href="{{entry.link}}" target="_blank">{{entry.title}}</a></p>
						{% endfor %}
					{% else %}
						<p> This company doesn't seem to have a RSS feed. Add it using the Edit feature! </p>
					{% endif %}
				</div>
			</div>

			{% if company.company_level == 0 %}
				{% if profile_side_client_ad %}
				<div class="row-fluid visible-phone">
					<div class="span12">
						<a href="{{ profile_side_client_ad.link }}" target="_blank"><img src="/media/{{ profile_side_client_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
				{% if profile_side_broker_ad %}
				<div class="row-fluid visible-phone">
					<div class="span12">
						<a href="{{ profile_side_broker_ad.link }}" target="_blank"><img src="/media/{{ profile_side_broker_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
			{% endif %}


		</div>
	</div>
</div>
{% endblock %}

{% block jQuery %}
<script type="text/javascript">
	$(function () {
		$("#comp_track").click(function(){
			$.ajax({
				'url': 'track',
				'success': function(data){
							$("#track-li").hide();
							$("#tracking-li").show();},
				'error': function(data){
							$("#signin").modal("show");
						}
			});
		});

		$('#tracking-li').mouseover(function() {
			if ($(this).is(":visible")){
				$(this).hide();
				$("#untrack-li").show();
			}
		})

		$('#untrack-li').mouseout(function() {
			if ($(this).is(":visible")){
				$(this).hide();
				$("#tracking-li").show();
			}
		});

		$("#comp_untrack").click(function(){
			$.ajax({
				'url': 'untrack',
				'success': function(data){
							$("#track-li").show();
							$("#tracking-li").hide();
							$("#untrack-li").hide();},
				'error': function(data){
							alert("Something went wrong, you can refresh the page and try again.");}
			});
		});
	});
</script>


{% endblock jQuery %}