{% extends "base.html" %}

{% block titlename %}Activation complete{% endblock %}

{% block content %}
<div class="container">
	<h3>Congratulations!</h3>
	<p>Your registration is now complete. You can now visit your profile!</p>
	<p>As a registered user you are now able to:</p>
	<ul>
		<li>Use the advanced search feature</li>
		<li>Make near real-time changes to every profile page</li>
		<li>Follow companies within your personal portfolio</li>
	</ul>
	<a class="btn btn-primary" href="/users/{{ user.username }}/settings/">Next step &rarr;</a>
</div>
{% endblock %}