{% extends "base.html" %}

{% block titlename %}Account activated | MiningSearch.ca{% endblock %}

{% block content %}
<div class="container">
  <h3>Account activated.</h3>
  {% load humanize %}
  {% if account %}
    <p>Thanks for signing up! Now you can <a href="/accounts/login/">log in</a>.</p>
  {% else %}
    <p>Sorry, it didn't work. Either your activation link was incorrect, or
    the activation key for your account has expired; activation keys are
    only valid for {{ expiration_days|apnumber }} days after
    registration.</p>
  {% endif %}
</div>
{% endblock %}