{% extends "base.html" %}

{% block titlename %}Log in{% endblock %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span5 centered">
			<h3>Log in</h3>
			{% if REQUEST.GET.redirect %}
				<p class="alert alert-error">You need to be logged in for this action</p>
			{% endif %}
			{% if form.errors %}
			<p class="alert alert-error">Invalid Username or password.</p>
			{% endif %}

			<form method="post" action="?next={{ next|default:"/" }}" class="form-horizontal">{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="id_username">Username:</label>
					<div class="controls">
						{% if form.username.errors %}
							<span class="help-block alert alert-error">{{ form.username.errors.as_text }}</span>
						{% endif %}
						{{ form.username }}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_password">Password:</label>
					<div class="controls">
						{% if form.password.errors %}
							<span class="help-block alert alert-error">{{ form.password.errors.as_text }}</span>
						{% endif %}
						{{ form.password }}
					</div>
				</div>
				<p><a href="/recovery/">Forgot your password?</a></p>
				<input class="btn btn-primary pull-right" type="submit" value="Log in">
			</form>
		</div>
	</div>

</div>
{% endblock %}