{% extends "base.html" %}

{% block titlename %}Logged out{% endblock %}

{% block content %}
<div class="container">
	<h3>You've been logged out.</h3>
	<p class="alert alert-success">Thanks for stopping by; when you come back, don't forget to <a href="/profile/login/">log in</a> again.</p>
</div>
{% endblock %}