{% extends "base.html" %}

{% block titlename %}Recover Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span5 centered">
			<h3>Recover Password</h3>
			{% if errors %}
			<p class="alert alert-error">Invalid username or email</p>
			{% endif %}
			<form method="post" action="?next={{ next|default:"/" }}" class="form-horizontal">{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="id_username">Username:</label>
					<div class="controls">
						<input type="text" name="recusername">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_password">Email:</label>
					<div class="controls">
						<input type="text" name="recemail">
					</div>
				</div>
				<p>Please check your email after submitting this form to recieve your new password.</p>
				<input class="btn btn-primary pull-right" type="submit" value="Recover Password">
			</form>
		</div>
	</div>

</div>
{% endblock %}