{% extends "base.html" %}
{% load i18n %}

{% block titlename %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="container">
	<h3>{% trans 'Password change successful' %}</h3>

	<p>{% trans 'Your password was changed.' %}</p>

	{% endblock %}

	{% block content-related %}
</div>
{% endblock %}