{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block titlename %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
	<h3>{% trans "Password reset" %}</h3>

	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

	<form action="" method="post">
		{% csrf_token %}
	{{ form.email.errors }}
	<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
	</form>
</div>
{% endblock %}
