{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block titlename %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="container">
	<h3>{% trans 'Password reset complete' %}</h3>

	<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

	<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

	{% endblock %}


	{% block content-related %}
</div>
{% endblock %}