{% extends "base.html" %}

{% block titlename %}Registration complete{% endblock %}

{% block content %}
<div class="container">
	<h3>Check your email</h3>
	<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
</div>
{% endblock %}