{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}


<div class="container">
	{% if form.errors %}
	<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
	{% endif %}
	
	<div class="row-fuild">
		<div class="span5 centered">
			<h3>Create an account</h3>
				<form method="post" action="" class="form-horizontal centered">
				{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="id_username">Username:</label>
						<div class="controls">
							{% if form.username.errors %}
								<span class="help-block alert alert-error">{{ form.username.errors.as_text }}</span>
							{% endif %}
							<input type="text"
									id="id_username"
									name="username"
									autocomplete="off"
									autocorrect="off" autocapitalize="off"
									placeholder="Username"
									pattern="[a-zA-Z]\w{3,}"
									data-validation-pattern-message="Must start with a letter and be at least 4 characters long. Avoid special charcters like $ # and such."
									required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="id_email">Email:</label>
						<div class="controls">
							{% if form.email.errors %}
								<span class="help-block alert alert-error">{{ form.email.errors.as_text }}</span>
							{% endif %}
							<input type="email"
								name="email"
								id="id_email"
								placeholder="Email"
								required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="id_confirmEmail">Retype email (to catch typos):</label>
						<div class="controls">
							<input type="text"
								id="id_confirmEmail"
								autocomplete="off"
								autocorrect="off" autocapitalize="off"
								placeholder="Confirm email"
								data-validation-match-message="Must match the given email address"
								data-validation-match-match="email">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="id_password1">Password:</label>
						<div class="controls">
							{% if form.password1.errors %}
								<span class="help-block alert alert-error">{{ form.password1.errors.as_text }}</span>
							{% endif %}
							<input type="password"
								id="id_password1"
								name="password1"
								placeholder="Password"
								minlength="6"
								data-validation-minlength-message="Must be at least 6 characters"
								required>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="id_password2">Retype password (to catch typos):</label>
						<div class="controls">
							{% if form.password2.errors %}
								<span class="help-block alert alert-error">{{ form.password2.errors.as_text }}</span>
							{% endif %}
							<input type="password"
								name="password2"
								id="id_password2"
								placeholder="Confirm password"
								data-validation-match-match="password1"
								data-validation-match-message="Must match the given password">
						</div>
					</div>
					<p>By registering your are agreeing to MiningSearch's <a href="/tos">Terms & Conditions</a>.</p>
					<input class="btn btn-primary pull-right" type="submit" value="Register &rarr;">
				</form>
		</div>
	</div>
	
	
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
</div>
{% endblock %}
