@media (max-width: 980px) and (min-width: 0px) {
	.table-overflow {
		display: block;
		overflow-x: auto;
	}
}


.affix{
	width: 170px;
	/*z-index: -1;*/
}

@media (max-width: 1200px) and (min-width: 980px) {
	.affix{
		width: 140px;
	}
}

@media (max-width: 980px) and (min-width: 767px) {
	.affix{
		width: 104px;
	}
}


@media (max-width: 767px) and (min-width: 0px) {
	.affix {
		position: static;
		width: auto;
		padding-bottom: 10px;
	}
}

table {
	display: block;
	overflow-x: auto;
}

.price-down {
	color: red;
}

.price-up {
	color: green;
}