.select2-container-multi .select2-choices {
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.select2-container[class*="span"] {
	margin-left: 0;
}

.input-row-disabled{
	opacity: 0.5;
}


@media (max-width: 980px) and (min-width: 0px) {
	.table-overflow {
		display: block;
		overflow-x: auto;
	}
}


.affix input{
	width: 100%;
}

.affix{
	width: 170px;
	/*z-index: -1;*/
}

@media (max-width: 1200px) and (min-width: 980px) {
	.affix{
		width: 140px;
	}
}

@media (max-width: 980px) and (min-width: 767px) {
	.affix{
		width: 104px;
	}
}


@media (max-width: 767px) and (min-width: 0px) {
	.affix {
		position: static;
		width: auto;
		padding-bottom: 10px;
	}
}

.table-noheader > tbody > tr:nth-child(1) > td{
	border-top: none;
}

.right-align{
	text-align: right !important;
}


/*h3 > input{
	font-size: 20px !important;
}*/

/*.first_prop_row{
	border-top: 1px solid black !important;
}*/

/*.table-props > tbody{
	border-bottom: 1px solid black !important;
}*/

tbody:nth-child(even){
	background-color: #f0f0f0 !important;
}