.select2-container-multi .select2-choices {
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.flname{
	color: gray;
	border: 1px dashed gray;
	font-size: 20px;
	font-weight: normal;
	padding: 5px;
}

.select2-container[class*="span"] {
	margin-left: 0;
}


.right-align{
	text-align: right !important;
}