{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found | MiningSearch.ca' %}{% endblock %}

{% block content %}
<div class="container">
<h2>{% trans 'Page not found' %}</h2>

<p>{% trans "We're sorry, but the requested page could not be found." %}</p>
</div>

{% endblock %}
