{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">

<p><h2>About Us</h2></p>
<br>

<p class=MsoNoSpacing><span lang=EN-CA>MiningSeach.ca is an advanced search
platform specifically geared towards the junior resource market. This site
fills a void within the industry allowing investors, brokers and industry
professionals to filter through 1600+ junior resource companies by combining a
wide variety of search criteria, such as location, commodity, price, volume,
and many others.</span></p>

<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>

<p class=MsoNoSpacing><span lang=EN-CA>MiningSearch.ca is also a wiki style
website allowing users to make near real time changes as well as track and
share their investments within a personal portfolio.<span
style="mso-spacerun:yes">&nbsp; </span>Furthermore, each company listed on
MiningSearch.ca has the ability to make changes to their profile page in real
time, thus significantly enhancing overall accuracy and information flow. </span></p>

<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>

<p class=MsoNoSpacing><span lang=EN-CA>MiningSearch.ca has been engineered and
developed by industry professionals with over 15 years of combined experience
within the resource sector. We understand that the junior resource market is
home to a multitude of quality companies being overlooked, until now. We
strongly believe that this industry was in a desperate need of a proper mining
search engine allowing users access to a 100% free research and comparison
tool.</span></p>

<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>

<p class=MsoNoSpacing><span lang=EN-CA>While <span class=GramE>the site has
been developed by industry professionals</span>, its ultimate future will be
directed by the community of users. Our users already possess the ability to
make near real time edits on MiningSearch.ca and we encourage user <a href="/contactus">feedback and suggestions</a>
to evolve the site to its ultimate potential.<span
style="mso-spacerun:yes">&nbsp; </span></span></p>

<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>

<p class=MsoNoSpacing><span lang=EN-CA>Thank you for your support and happy
searching!</span></p>

<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>

<p class=MsoNoSpacing><span lang=EN-CA>The <span class=SpellE>MiningSearch</span>
Team</span></p>

<br>
<p>MiningSearch.ca is powered by Django (haystack, moderation, registration, feedparser), and utilizes Solr, Bootstrap, and Font Awesome.</p>

<p class=MsoNoSpacing><span lang=EN-CA><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></p>

</div>
</div>
</div>


{% endblock %}
