{# {% spaceless %} #}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% block titlename %}{{ title }}{% endblock titlename %} | MiningSearch.ca {% endblock %}</title>
		{% block responsive_tag %}
			<!-- Responsive design -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% endblock responsive_tag %}
		<!-- Bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
		<!-- my CSS -->
		<link href="{% static 'stylesheets/docs.css' %}" rel="stylesheet">
		<link href="{% static 'stylesheets/font-awesome.min.css' %}"  rel="stylesheet">

		<!-- FAVICON -->
		<link rel="shortcut icon" href="/static/img/favicon.ico" />

		<!--[if IE 7]>
			<link rel="stylesheet" href="stylesheets/font-awesome-ie7.min.css">
		<![endif]-->

		<!-- insert extra css here -->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base-navbar.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/docs2.css' %}">
		{% block CSS %} {% endblock %}


		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-38938722-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			  	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>
		<div class="wrapper">

		{% if user.is_authenticated %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<!-- FOR MAKING THE NAVBAR THE SIZE OF THE REST OF THE CONTENT -->
				<div class="container">
					<!-- THE COLLAPSE BUTTON IN THE NAVBAR -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<!-- Be sure to leave the brand out there if you want it shown -->
					<a class="brand" href="/"><img src="{% static 'img/navbar-MSlogo30.png' %}" alt="MiningSearch"></a>
					<!-- Everything you want hidden at 940px or less, place within here -->
					<div class="nav-collapse collapse">
						<!-- SEARCHS -->
						<form class="navbar-search pull-left" method="get" action="/search/">
							<div class="input-append">
								{{ NAVBAR_SEARCH.q }}
								<!-- <input type="text" name="q" class="span4" placeholder="Search for ticker symbols or names"> -->
								<button class="btn" type="submit"><i class="icon-search"></i></button>
							</div>
						</form>
						<!-- END SEARCH -->
						<!-- Profile links -->
						<ul class="nav pull-right">
							{% if user.is_staff %}
							<li>
								<a href="/admintools/suggestions/">
									<i class="icon-thumbs-up icon-white"></i> Moderation
									{% if NUM_OF_PENDING %}
									<span class="badge badge-important">
										{{ NUM_OF_PENDING }}
									</span>
									{% else %}
									<span class="badge badge-success">
										0
									</span>
									{% endif %}
								</a>
							</li>
							{% endif %}
							<li><a href="/users/{{ user.username }}/"><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-chevron-down icon-white"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/users/{{ user.username }}/portfolio/">Portfolio</a></li>
									<li><a href="/users/{{ user.username }}/settings/">Settings</a></li>
									{% if user.is_staff or user.is_superuser %}
									<li><a href="/admin/">Admin</a></li>
									<li><a href="/admintools/emailmanager/">Email Management</a></li>
									<li><a href="/admintools/suggestions/">Moderation</a></li>
									{% endif %}
									<li><a href="/profile/logout/">Logout</a></li>
								</ul>
							</li>
						</ul>
						<!-- END profile IN -->
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<!-- NAVBAR and its Modals -->
		<!-- NAVBAR -->
		{% block navbar %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<!-- FOR MAKING THE NAVBAR THE SIZE OF THE REST OF THE CONTENT -->
				<div class="container">
					<!-- THE COLLAPSE BUTTON IN THE NAVBAR -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<!-- Be sure to leave the brand out there if you want it shown -->
					<a class="brand" href="/"><img src="{% static 'img/navbar-MSlogo30.png' %}" alt="MiningSearch"></a>
					<!-- Everything you want hidden at 940px or less, place within here -->
					<div class="nav-collapse collapse">
						<!-- SEARCHS -->
						<form class="navbar-search pull-left" method="get" action="/search/">
							<div class="input-append">
								{{ NAVBAR_SEARCH.q }}
								<!-- <input type="text" name="q" class="span4" placeholder="Search for ticker symbols or names"> -->
								<button class="btn" type="submit"><i class="icon-search"></i></button>
							</div>
						</form>
						<!-- END SEARCH -->
						<!-- Sign in and up links -->
						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							<li><a href="#signin" data-toggle="modal">Sign in</a></li>
							<li class="divider-vertical"></li>
							<li><a href="#signup" data-toggle="modal">Sign up</a></li>
						</ul>
						<!-- END SIGN IN -->
					</div>
				</div>
			</div>
		</div>
		<!-- END NAVBAR -->
		{% block signin_modal %}
		<!-- Signin Modal -->
		<div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">Welcome to MiningSearch!</h3>
			</div>
			<form class="form-horizontal" action="/profile/login/?next=
			{% if 'logout' in CURRENT_URL or 'register' in CURRENT_URL %}
				/
			{% else %}
				{{ CURRENT_URL }}
			{% endif %}
			" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="id_username">Username:</label>
						<div class="controls">
							<input id="id_username" type="text" name="username" placeholder="Username" maxlength="30" aria-invalid="false">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="id_password">Password:</label>
						<div class="controls">
							<input type="password" name="password" placeholder="Password" id="id_password">
						</div>
					</div>

					<p><a href="/recovery/">Forgot your password?</a></p>

					<div class="modal-footer-mobile pull-right">
						<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<input type="submit" class="btn btn-primary" value="Sign in"><!-- </button> -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit" class="btn btn-primary" value="Sign in"><!-- </button> -->
				</div>
			 </form>
		</div>
		<!-- End Signin Modal -->
		{% endblock signin_modal %}
		{% block signup_modal %}
		<!-- Signup Modal -->
		<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h3 id="myModalLabel">Welcome to MiningSearch!</h3>
			</div>
			<form class="form-horizontal" action="/profile/register/" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="control-group">
								<label class="control-label" for="id_username">Username:</label>
								<div class="controls">
									<input type="text"
											id="id_username"
											name="username"
											autocomplete="off"
											autocorrect="off" autocapitalize="off"
											placeholder="Username"
											pattern="[a-zA-Z]\w{3,}"
											data-validation-pattern-message="Must start with a letter and be at least 4 characters long. Avoid special charcters like $ # and such."
											required>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="id_email">Email:</label>
								<div class="controls">
									<input type="email"
										name="email"
										id="id_email"
										placeholder="Email"
										required>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="id_confirmEmail">Retype email (to catch typos):</label>
								<div class="controls">
									<input type="text"
										id="id_confirmEmail"
										autocomplete="off"
										autocorrect="off" autocapitalize="off"
										placeholder="Confirm email"
										data-validation-match-message="Must match the given email address"
										data-validation-match-match="email">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="id_password1">Password:</label>
								<div class="controls">
									<input type="password"
										id="id_password1"
										name="password1"
										placeholder="Password"
										minlength="6"
										data-validation-minlength-message="Must be at least 6 characters"
										required>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="id_password2">Retype password (to catch typos):</label>
								<div class="controls">
									<input type="password"
										name="password2"
										id="id_password2"
										placeholder="Confirm password"
										data-validation-match-match="password1"
										data-validation-match-message="Must match the given password">
								</div>
							</div>
					<p>By registering your are agreeing to MiningSearch's <a href="/terms" target="_blank">Terms & Conditions</a>.</p>
					<div class="modal-footer-mobile pull-right">
						<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<input type="submit" class="btn btn-primary" value="Register"><!-- </button> -->
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit" class="btn btn-primary" value="Register"><!-- </button> -->
				</div>
			 </form>
		</div>
		<!-- End Signup Modal -->
		{% endblock signup_modal %}
		<!-- END NAVBAR and its Modals -->
		{% endblock navbar %}

		{% endif %}


		<!-- CONTENT -->
		<div id="contentContainer">
			{% block content %}
			{% endblock content %}
		</div>
		<!-- END CONTENT -->

		<!-- FOOTER -->
		{% block footer %}
		<div class="push"></div>
		<div class="navbar navbar-fixed-bottom navbar-inverse" id="footer">
			<div class="">
				<!-- FOR MAKING THE NAVBAR THE SIZE OF THE REST OF THE CONTENT -->
				<div class="container">
					<!-- <span class="navbar-text pull-left brand">
						MiningSearch Inc.
					</span> -->
					<div class="row credits pull-left">
						<div class="span12">
							<div class="row social">
								<div class="span3">
									<a href="http://www.facebook.com/pages/Miningsearch/358279027620128" class="facebook" target="_blank">
										<i class="icon-facebook icon-facebook-footer"></i>
									</a>
									<a href="https://twitter.com/miningsearch" target="_blank" class="twitter">
										<i class="icon-twitter icon-twitter-footer"></i>
									</a>
								</div>
								<div class="span9">
									<ul class="nav pull-right">
										<li><a href="/">Home</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/sponsorship">Sponsorship</a></li>
										<li><a href="/terms">Terms of Service</a></li>
										<li><a href="/disclaimer">Disclaimer</a></li>
										<li><a href="/privacypolicy">Privacy</a></li>
										<li><a href="/contactus">Contact Us</a></li>
									</ul>
								</div>
							</div>
							<div class="row copyright">
								<div class="span12">
									© 2013 MiningSearch. All rights reserved.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock footer %}
		<!-- end footer -->
		</div>
		<!-- JS plugins -->
		<script src="{% static 'javascript/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
		<script src="{% static 'javascript/jqBootstrapValidation.js' %}" type="text/javascript"></script>
		<script src="{% static 'javascript/Placeholders.min.js' %}" type="text/javascript"></script>
		<!--[if lt IE 10]>
		<script type="text/javascript">
			//$('input,textarea').placeholder();
			Placeholders.init();
		</script>
		<![endif]-->
		<script type="text/javascript">
			$(function () {
				$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
				$('#signin').on('shown', function () {
					$('#id_username').focus();
				})

				//

				if ( ($("body").width() < 767) & ((/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent)) ){
					$('.modal').not('#changesearch').addClass('hidden-phone');
					$('a[href^="#signin"]').click(function(){
						window.location.assign("/profile/login/?next={% if 'logout' in CURRENT_URL or 'register' in CURRENT_URL %}/{% else %}{{ CURRENT_URL }}{% endif %}");
					});
					$('a[href^="#signup"]').click(function(){
						window.location.assign("/profile/register");
					});

					// $('a[href^="#changesearch"]').click(function(){
					// 	window.location.assign("/search/change");
					// });
				}

			});
		</script>
		<!-- Insert extra scripts here -->
		{% block JS %} {% endblock %}
		<!-- Insert extra jQuery here -->
		{% block jQuery %} {% endblock %}
	</body>
</html>
{# {% endspaceless %} #}