{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <p>
        <div>

			<p><h5>Head Office</h5>

				10933 Jane Street <br> Vaughan, Ontario <br> L6A 1S1

 			
<h5>Phone:</h5> (416) 297-7343

<h5>Toll Free:</h5> 1.877.762.2301

 

<h5>General Inquiries</h5>

<a href="mailto:info@miningsearch.ca">info@miningsearch.ca</a>

 

<h5>Sponsorship</h5>

<a href="mailto:sponsorship@miningsearch.ca">sponsorship@miningsearch.ca</a>

 

<h5>Suggestions and Feedback</h5>

<a href="mailto:user@miningsearch.ca">user@miningsearch.ca</a> </p>

		</div>
	</div>
  </div>
</div>

{% endblock %}