{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <p>
        <div>

<h2>Disclaimer</h2>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:
0cm;background:white'><span style='font-size:10.0pt;font-family:Arial;
color:#444444'>Information contained within the MiningSearch.ca website in
general, and more specifically, the Profile Pages, was obtained from the
Company website and/or Sedar as well as from registered MiningSearch.ca users. MiningSearch.ca
is a wiki style website and is updated collaboratively by a community of users,
allowing any registered user to add and edit content in near-real time. In
addition, all Companies listed on MiningSearch.ca have been provided with a
username and password and have the ability to edit only their own profile pages
in real time. MiningSearch.ca does not take responsibility for the accuracy and
completeness of that information and at times, the most current and up to date
information may not be reflected.<o:p></o:p></span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:
0cm;background:white'><span style='font-size:10.0pt;font-family:Arial;
color:#444444'>The above mentioned sources of information are published for
general information only and it should not be interpreted as an investment
recommendation nor an offer or a solicitation to buy or sell securities issued
by the said company. The information is subject to change without notice. MiningSearch.ca
does not accept any responsibility or liability for investment decisions made
on the basis of the information herein contained.<o:p></o:p></span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:
0cm;background:white'><span style='font-size:10.0pt;font-family:Arial;
color:#444444'>Information on this Internet Site has been provided by the
companies contained herein, registered users of MiningSearch.ca or other
sources believed to be reliable. MiningSearch.ca has not independently verified
the information provided to it by third parties. Each individual should perform
his or her own independent analysis before investing. The information contained
herein is neither an offer nor a solicitation to buy any of the securities of
the companies contained herein. Investing in securities is speculative and
contains a high element of risk.<o:p></o:p></span></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>
</div>
</div>
</div>

{% endblock %}