{% extends "base.html" %}
{% load staticfiles %}
{% load cedit_extra %}
{% load cache %}

{% load rss %}

{% block CSS %}
<meta name="description" content="MiningSeach.ca is an advanced search platform specifically geared towards the junior resource market.">
<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'stylesheets/docs_homepage.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'stylesheets/docs_searchbox.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span8">
			<!-- carousel -->
			{% if top_banner_ads %}
			<div class="row-fluid">
				<div class="span12">
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-inner">
							{% for ad in top_banner_ads %}
								<div class="item{% if forloop.first %} active{% endif %} ">
									<a href="/msadtrackr/{{ ad.pk }}/MSDjdfo37729shcasii" target="_blank"><img src="/media/{{ ad.picture }}" alt="{{ ad.hover_text }}"></a>
								</div>
							{% endfor %}
						</div>
						{% if top_banner_ads|length > 1 %}
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			<!-- Search -->
			<div class="row-fluid">
				<div class="span12 well main-search-box">
					<h5 class="widget-box-header"><i class="icon-search widget-box-icon"></i><span class="widget-box-title">Find your next TSX-V investment today!</span></h5>
					<form class="form-horizontal" method="get" action="search/">
						{% include "searchbox.html" %}
						<button type="submit" class="btn btn-primary pull-right">Search</button>
					</form>
				</div>
			</div>
			<!-- NEWS -->
			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-globe widget-box-icon"></i><span class="widget-box-title">Latest News</span></h5>
					{% cache 600 homepage_news  %}
					<ol>
							{% get_rss "http://feeds.feedburner.com/MiningSearch" as rss %}
							{% for entry in rss.entries|slice:":10" %}
								<p>({{entry.published|slice:":16"}}) <a href="{{entry.link}}" target="_blank">{{entry.title}}</a></p>
							{% endfor %}
					</ol>
					{% endcache  %}
				</div>
			</div>
		</div>
		<div class="span4">
<!-- 			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-magic widget-box-icon"></i><span class="widget-box-title">Find your next TSX-V investment today!</span></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar consequat orci, accumsan rhoncus erat accumsan sit amet.</p>
				</div>
			</div> -->
			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-building widget-box-icon"></i><span class="widget-box-title">Most Followed Companies</span></h5>
					{% cache 1 top_comps  %}
					<ol>
						{% for comp in top_comps %}
							<li><a href="/company/{{ comp.ticker_symbol }}">{{ comp.company_name }} ({{ comp.ticker_display }})</a></li>
						{% endfor %}
					</ol>
					{% endcache  %}
				</div>
			</div>

			<!-- Commodity snapshot -->
			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-eye-open widget-box-icon"></i><span class="widget-box-title">Commodity Snapshot</span></h5>
					{% cache 1 commo_snap  %}
					<table class="table table-noheader snapshot-table">
						{% for commo in commo_snap_list %}
							<tr>
								<td><strong>{{ commo.commodity_name }}:</strong></td>
								<td>{{ commo.commodity_price|floatformat:2 }}</td>
								<td>{{ commo.commodity_price_change|change_in_price_tag|safe }}</td>
								<td>{{ commo.percent_change|change_in_price_tag:"%"|safe }}</td>
							</tr>
						{% endfor %}
					</table>
					{% endcache  %}
				</div>
			</div>
			
			<!-- market snapshot -->
			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-eye-open widget-box-icon"></i><span class="widget-box-title">Market Snapshot</span></h5>
					{% cache 1 market_snap  %}
					<table class="table table-noheader snapshot-table">
						{% for stockmarket in stock_snap_list %}
							<tr>
								<td><strong>{{ stockmarket.short_name }}:</strong></td>
								<td>
									{% if not forloop.last  %}
										{{ stockmarket.stock_index|floatformat:2 }} 
									{% else %}
										{{ stockmarket.stock_index }} 
									{% endif %}
								</td>
								<td>{{ stockmarket.stock_index_change|change_in_price_tag|safe }}</td>
								<td>
									{% if not forloop.last %}
									{{ stockmarket.percent_change|change_in_price_tag:"%"|safe }}
									{% endif %}
								</td>
							</tr>

						{% endfor %}
					</table>
					{% endcache  %}
				</div>
			</div>

			{% if side_ad %}
			<div class="row-fluid">
				<div class="span12 well">
					<a href="/msadtrackr/{{ side_ad.pk }}/asjf72198fhoofofhs831/" target="_blank"><img src="/media/{{ side_ad.picture }}" alt=""></a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block JS %}
	<script type="text/javascript" src="{% static 'javascript/select2.js' %}"></script>
{% endblock %}

{% block jQuery %}
	<script type="text/javascript">
		$(document).ready(function() {
			if (($("body").width() > 767)){
				$("#id_commodities, #location").select2();
			} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
				$("#id_commodities, #location").select2();
			}

			$("#status_all").change(function(){
				if ($(this).prop('checked')){
					$("input[name=status]").prop({"checked": true, "disabled": true});
				} else{
					$("input[name=status]").prop({"checked": false, "disabled": false});
				}
			});
		});
	</script>
{% endblock %}