{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">


<h2>Privacy Policy</h2>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca believes that you should understand how we
use the information you provide and furthermore that you should have the right
to approve the use of that information. In handling your information
MiningSearch.ca follows a policy of &quot;informed consent&quot;. In using the
varied features of the MiningSearch.ca website, you may provide information
(such as name, contact information, or other registration information) to
MiningSearch.ca, service providers, or other businesses you contact. MiningSearch.ca
and these entities may use, and you agree that MiningSearch.ca may use, this
information and technical information about your use of the MiningSearch.ca
website, or communicate separately with you. MiningSearch.ca will not provide
information to companies you have not interacted with, and we prohibit the
companies that get such information from selling or redistributing it without
your prior notice. MiningSearch.ca will not disclose your personal information,
except as described herein, and MiningSearch.ca will not disclose information
to others that would connect your user name with your actual name unless
MiningSearch.ca is compelled to by law. In our sole discretion we still reserve
the right to make exceptions, whenever we believe an emergency, illegal
activity or some other reasonable basis exists for notifying or providing such
information to the appropriate authorities. You agree that that by registering
as a member to the MiningSearch.ca community, MiningSearch.ca has the right to
send the you emails as MiningSearch.ca sees fit and user agrees to accept that
email as a part of these terms of use. MiningSearch.ca will provide an
unsubscribe function on all emails. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><span style="mso-spacerun:yes">&nbsp;</span>MiningSearch.ca
intends this policy to reduce uninvited use of your personal information. If,
however, you do not want to receive any future communications from
MiningSearch.ca, <a href="/contactus">please contact us,</a> and we will do our
best to avoid such communications.<span style="mso-spacerun:yes">&nbsp; </span></p>


</div>
</div>
</div>

{% endblock %}