<div class="c-group">
	<label class="span3" for="id_commodities">Commodity:</label>
	<div class="span9">
		{{ mainbox_prop_search.commodities }}
		<select multiple="multiple" id="id_commodities" class="span12" name="commodities">
			{% for commodity in commodities %}
				<option value="{{ commodity.commodity_name }}"
				{% if commodity.commodity_name in selected_commodities %}
					selected
				{% endif %}>
				{{ commodity.commodity_name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<!-- For diffrenetiating between index and results page -->
<div class="c-group">
	<label class="span3" for="location">Location:</label>
	<div class="span9">
		<select name="location" id="location" class="span12" multiple>
			<optgroup label="Region/Continent">
			{% for region in regions %}
				<option value="region_{{ region.region_name }}"
				{% if region.region_name in selected_regions %}
					selected
				{% endif %}>
					{{ region.region_name }}
				</option>
			{% endfor %}
			</optgroup>
			<optgroup label="Countries">
			{% for country in countries %}
				<option value="country_{{ country.country_name }}"
				{% if country.country_name in selected_countries %}
					selected
				{% endif %}>
					{{ country.country_name }}
				</option>
			{% endfor %}
			</optgroup>
			<optgroup label="State/Province">
			{% for state in states %}
				{% if state.state_name %}
					<option value="state_{{ state.state_name }}"
					{% if state.state_name in selected_states %}
						selected {% endif %}>
						{{ state.state_name }}
					</option>
				{% endif %}
			{% endfor %}
			</optgroup>
		</select>
	</div>
</div>
<!-- Status -->
<div class="control-group">
	<label class="span3 box-label">Status:</label>
	<div class="span9">
		<label class="checkbox inline">
			<input type="checkbox" id="status_all" {% if not selected_status %}checked{% endif %}> All
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="status" value="D"
			{% if 'D' in selected_status %}
				checked
			{% endif %}
			{% if not selected_status %}checked disabled{% endif %}
			> Development
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="status" value="E"
			{% if 'E' in selected_status %}
				checked
			{% endif %}
			{% if not selected_status %}checked disabled{% endif %}
			> Exploration
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="status" value="P"
			{% if 'P' in selected_status %}
				checked
			{% endif %}
			{% if not selected_status %}checked disabled{% endif %}
			> Production
		</label>
	</div>
</div>
<!-- Resource Estimate -->
<div class="control-group">
	<label class="span3 box-label">Resource Estimate:</label>
	<div class="span9">
		<label class="radio inline">
			<input type="radio" name="estimate" value="A"
			{% if selected_estimate not in YNtuple %}
				checked
			{% elif selected_estimate == None %}
				checked
			{% endif %}
			> Any
		</label>
		<label class="radio inline">
			<input type="radio" name="estimate" value="Y"
			{% if selected_estimate == 'Y' %}
				checked
			{% endif %}
			> Yes
		</label>
		<label class="radio inline">
			<input type="radio" name="estimate" value="N"
			{% if selected_estimate == 'N' %}
				checked
			{% endif %}
			> No
		</label>
	</div>
</div>

<hr>

<h5>Advanced Search</h5>
{% if not user.is_authenticated %}
	<p class="alert">To access advanced search you need to <a href="#signin" data-toggle="modal">login</a>. 
	If you don't have an account, <a href="#signup" data-toggle="modal">sign up</a>! It's free!</p>
{% endif %}
<!-- Fin search -->
<!--
<div class="control-group">
	<label class="span3 box-label"></label>
	<div class="span9">
		<div class="span6">min</div>
		<div class="span6">max</div>
	</div>
</div>
-->
<!-- price -->
<div class="control-group">
	<label class="span3 box-label">Price:</label>
	<div class="span9">
		<!-- <input class="span6" type="text" name="price_min" pattern="\d*(\.\d+)?"
		data-validation-pattern-message="Must be a number or decimal" placeholder="min"> -->
		{{ mainbox_fin_search.price_min }}
		{{ mainbox_fin_search.price_max }}
	</div>
</div>
<!-- Volume -->
<div class="control-group">
	<label class="span3 box-label">Volume:</label>
	<div class="span9">
		{{ mainbox_fin_search.vol_min }}
		{{ mainbox_fin_search.vol_max }}
	</div>
</div>
<!-- Market Capitalization -->
<div class="control-group">
	<label class="span3 box-label">Market Capitalization:</label>
	<div class="span9">
		{{ mainbox_fin_search.marketcap_min }}
		{{ mainbox_fin_search.marketcap_max }}
	</div>
</div>
<!-- Shares Outstanding -->
<div class="control-group">
	<label class="span3 box-label">Shares Outstanding:</label>
	<div class="span9">
		{{ mainbox_fin_search.shouts_min }}
		{{ mainbox_fin_search.shouts_max }}
	</div>
</div>
<div class="control-group">
	<label class="span3 box-label">52 week low/high:</label>
	<div class="span9">
		{{ mainbox_fin_search.fifty_low_min }}
		{{ mainbox_fin_search.fifty_high_max }}
	</div>
</div>