{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">

<h2>Sponsorship</h2>
<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>
<p class=MsoNoSpacing><span lang=EN-CA>Take advantage of our unique, high
profile sponsorship opportunities and reach thousands of small-cap resource
investors daily!</span></p>
<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>
<p class=MsoNoSpacing><span lang=EN-CA>MiningSearch.ca approaches sponsorships
as true partnerships, designed to meet the needs of the client. If you are
looking for targeted exposure for your company<span class=GramE>,<span
style="mso-spacerun:yes">&nbsp; </span>MiningSearch.ca</span><span
style="mso-spacerun:yes">&nbsp; </span>will provide you with access to our
small-cap resource investor community. </span></p>
<p class=MsoNoSpacing><span lang=EN-CA><o:p>&nbsp;</o:p></span></p>
<p class=MsoNoSpacing><span lang=EN-CA>For additional details, please <a href="/contactus">contact us</a>.</span></p>

</div>
</div>
</div>

{% endblock %}