{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<p>
				<div>

<body lang=EN-US link=blue vlink=purple style='tab-interval:36.0pt'>

<div class=WordSection1>

<h2>Terms and Conditions</h2>
<br>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><span
style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>BY CLICKING (&quot; REGISTER &quot;) YOU ACCEPT THE TERMS AND CONDITIONS BELOW. THE
FOLLOWING DESCRIBES THE TERMS ON WHICH MiningSearch.ca OFFERS YOU ACCESS TO the
<a href="http://www.miningsearch.ca">www.miningsearch.ca</a> website. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'><span
style="mso-spacerun:yes">&nbsp;</span>General Notice and Disclaimer <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>This notice and disclaimer applies to the MiningSearch.ca
website, operated by MiningSearch.ca, a company continued under the laws of
Ontario, Canada and its subsidiaries, affiliates, assigns, successors and
related entities (&quot; MiningSearch.ca &quot;).<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca is an information website focusing on junior
resource companies listed on the Toronto Venture Exchange. MiningSearch.ca does
not represent, warrant, or endorse the accuracy, reliability, completeness or
timeliness of any of the information, content, views, opinions, recommendations
or advertisements (collectively, the &quot;Materials&quot;) contained on,
distributed through, or linked, downloaded or accessed from any of the services
contained on MiningSearch.ca<span style="mso-spacerun:yes">&nbsp; </span>(the
&quot;Service&quot;), nor the quality of any products, information or other
materials displayed, purchased, or obtained by you as a result of an
advertisement or any other information or offer in or in connection with the
Service (the &quot;Products&quot;). You hereby acknowledge that any reliance
upon any Materials shall be at your sole risk. In particular, none of the
Materials is provided on MiningSearch.ca with a view to inviting, inducing or
encouraging any person to make any kind of investment decision. Securities or
other investments referred to in the Materials may not be suitable for you and
you should not make any kind of investment decision in relation to them without
first obtaining independent investment advice from a person authorized to give
it. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>The Service, Materials and Products provided through the
MiningSearch.ca website or any of its affiliates, are solely and strictly for
your personal and non-commercial use. You may not save, or permit any third
party to save, any Materials or any portion thereof for use with any
information retrieval and/or provision service. Except to the extent you
download and print Materials for your personal and non-commercial use, you may
not modify, reproduce, distribute, transmit, disseminate, process, publish,
license, create derivative works from, provide any third party access to,
transfer, assign, or sell any of the Materials, Services or Products, including
stock quotes and news, obtained from the MiningSearch.ca website. Automated
query systems are strictly prohibited. Any use of such systems will result in
immediate termination of access.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca reserves the right, in its sole discretion
and without any obligation, to make improvements to, or correct any error or
omissions in any portion of the Service or the Materials. Materials may be
delayed as specified by Stock Exchanges and other sources. MiningSearch.ca
specifically represents that it does not give investment advice or advocate the
purchase or sale of any security or investment. None of the information
contained in the Materials constitutes an offer to sell or the solicitation of
an offer to buy any security or other investment or an offer to provide
investment services of any kind. MiningSearch.ca and our affiliates, officers,
directors, and employees, including persons involved in the preparation of
proprietary content on the MiningSearch.ca and affiliated websites, may from
time to time, have long or short positions in, and buy and sell the securities
or derivatives (including options) of companies mentioned in proprietary
content on the MiningSearch.ca and affiliated websites.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>THE SERVICE AND THE MATERIALS ARE PROVIDED<span
style="mso-spacerun:yes">&nbsp; </span>BY MiningSearch.ca AND OTHER INFORMATION
PROVIDERS ON AN &quot;AS IS&quot; BASIS, AND MiningSearch.ca AND OTHER
INFORMATION PROVIDERS EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR
IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF SATISFACTORY QUALITY AND
FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE SERVICE OR ANY MATERIALS
AND PRODUCTS. IN NO EVENT SHALL MiningSearch.ca AND OTHER INFORMATION PROVIDERS
BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL
DAMAGES OF ANY KIND WHATSOEVER WITH RESPECT TO THE SERVICE, THE MATERIALS AND
THE PRODUCTS.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Third Party Content</b>
</p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca is a distributor (and not a publisher) of
content supplied by third parties and Subscribers. Accordingly, MiningSearch.ca
has no editorial control over such content. Any opinions, advice, statements,
services, offers, or other information or content expressed or made available
by third parties, including information providers, Subscribers or any other
user of MiningSearch.ca website, are those of the respective author(s) or
distributor(s) and not of MiningSearch.ca. Neither MiningSearch.ca nor any
third-party provider of information guarantees the accuracy, completeness, or
usefulness of any content, nor its merchantability or fitness for any
particular purpose. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca encourages you to exercise discretion while
browsing the Internet using the MiningSearch.ca website. MiningSearch.ca makes
no representations concerning any endeavour to review the content of the
MiningSearch.ca<span style="mso-spacerun:yes">&nbsp; </span>website or any of
the Materials, and so MiningSearch.ca is not responsible for the accuracy,
copyright compliance, or legality of material contained in the MiningSearch.ca
website or in the Materials. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca is not directed at persons who are residents
of any country where dissemination of any of the information contained on the
MiningSearch.ca is not permitted.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Privacy Policy <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca believes that you should understand how we
use the information you provide and furthermore that you should have the right
to approve the use of that information. In handling your information
MiningSearch.ca follows a policy of &quot;informed consent&quot;. In using the
varied features of the MiningSearch.ca website, you may provide information
(such as name, contact information, or other registration information) to
MiningSearch.ca, service providers, or other businesses you contact. MiningSearch.ca
and these entities may use, and you agree that MiningSearch.ca may use, this
information and technical information about your use of the MiningSearch.ca
website, or communicate separately with you. MiningSearch.ca will not provide
information to companies you have not interacted with, and we prohibit the
companies that get such information from selling or redistributing it without
your prior notice. MiningSearch.ca will not disclose your personal information,
except as described herein, and MiningSearch.ca will not disclose information
to others that would connect your user name with your actual name unless
MiningSearch.ca is compelled to by law. In our sole discretion we still reserve
the right to make exceptions, whenever we believe an emergency, illegal
activity or some other reasonable basis exists for notifying or providing such
information to the appropriate authorities. You agree that that by registering
as a member to the MiningSearch.ca community, MiningSearch.ca has the right to
send the you emails as MiningSearch.ca sees fit and user agrees to accept that
email as a part of these terms of use. MiningSearch.ca will provide an
unsubscribe function on all emails. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><span style="mso-spacerun:yes">&nbsp;</span>MiningSearch.ca
intends this policy to reduce uninvited use of your personal information. If,
however, you do not want to receive any future communications from
MiningSearch.ca, please contact us via our feedback form,<span
style="mso-spacerun:yes">&nbsp; </span>and we will do our best to avoid such
communications.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Intellectual Property
<o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca respects the rights (including the
intellectual property rights) of others, and we ask our users to do the same.
MiningSearch.ca may, in appropriate circumstances and in its sole discretion,
terminate the accounts of users that infringe or otherwise violate such rights
of others.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca, the MiningSearch.ca logo, and all other
uses, including country specific references and/or usage of the names
MiningSearch.ca are trademarks of MiningSearch.ca. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>User Information
Modification Policy <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca offers members the ability to correct or
change the information collected during registration. Members who wish to
change such information should login to the profile page at MiningSearch.ca </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Unsubscribe Policy <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>Members may unsubscribe to any of MiningSearch.ca electronic
newsletters at any time by following the instructions contained at the end of
every newsletter or alternatively by following the instructions at
subscriptions tab in the member services section at MiningSearch.ca. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Terms of Use <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>This Agreement between you and MiningSearch.ca is effective
immediately by you on clicking the &quot;Register&quot; button, and may be
amended at any time by MiningSearch.ca posting the amended terms on our site.
The amended terms shall be posted by MiningSearch.ca and shall automatically be
effective 3 days after they are initially posted on our site. This Agreement
may not otherwise be amended, except in writing consented to by both
parties.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.1 Definitions <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>Unless otherwise indicated in this Agreement, the following
terms shall be defined for the purposes of this Agreement as follows: </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(a) &quot;Business Day&quot; means a day (excluding
Saturdays) on which banks are open for business in Ontario, Canada; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><span style="mso-spacerun:yes">&nbsp; </span>(b)
&quot;us&quot; and &quot;we&quot; means MiningSearch.ca and any subsidiary,
affiliate, assign, successor, employee, director, officer, agent, or
representative thereof; and </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(e) &quot;you&quot; means a user of the MiningSearch.ca
website. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Eligibility for
Membership <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>Our services are available only to persons who can form
legally binding contracts under applicable law. Without limiting the foregoing,
our services are not available to individuals under the age of 19, or age of
majority in your jurisdiction of residence. If you do not qualify, please do
not use our services. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'><span
style="mso-spacerun:yes">&nbsp;</span>MiningSearch.ca Use <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca agrees to permit you to use the
MiningSearch.ca website during the term of this Agreement and subject to the
provisions contained in it in order to post and read information on the
MiningSearch.ca website. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>Change in Services <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>We may, in our sole discretion, add, delete or change some
or all of our services at any time. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'><span
style="mso-spacerun:yes">&nbsp;</span>1.2 System Integrity <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>You may not use any device, software or routine to interfere
or attempt to interfere with the proper working of the MiningSearch.ca website
or any activities being conducted on MiningSearch.ca. You may not take any
action, which imposes an unreasonable or disproportionately large load on our
infrastructure.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.3 Passwords <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>You are responsible for the confidentiality and use of your
username and password. You may not disclose or share your password to any third
parties or use your password for any unauthorized purpose. You acknowledge that
using the service on two or more computers simultaneously is in violation of
this Agreement. You agree to notify MiningSearch.ca immediately of any loss,
theft, or unauthorized use of his/her username and password.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.4 Your Information <o:p></o:p></b></p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>Your information includes any information you provide to us
or other users during the registration or through any email feature
(collectively &quot;Your Information&quot;). With respect to Your Information: </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(a) You agree that Your Information provided to us by you
during the registration is true, accurate, correct and complete and that you
will notify us immediately of any changes to it. You agree not to impersonate
any other person or entity or to use a false name or a name that you are not
authorized to use or to provide incorrect information as to your location or relevant
to your right to use the MiningSearch.ca website.(b) You agree that you are
solely responsible for Your Information, and we act as a mere passive conduit
for your online distribution and publication of Your Information. However, we
reserve the right to take any action with respect to such information we deem
necessary or appropriate in our sole discretion if we believe that it may
create liability for us or may cause us to lose (in whole or in part) the
services of our ISPs or other Suppliers. </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(c) You undertake and agree that Your Information: </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(i) shall not infringe any third party's copyright, patent,
trademark, trade secret or other proprietary right or rights of publicity or
privacy; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(ii) shall not violate any law, statute, ordinance or
regulation; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(iii) shall not be defamatory, trade libellous or unlawfully
threatening; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(iv) shall not be false, inaccurate or misleading; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(v) shall not contain any invitation, inducement or offer to
buy or sell any kind of security or other investments; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(vi) shall not contain any promotional material in respect
of any kind of security or other investment; </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(vii) shall not be provided for any business purpose; and </p>

<p class=MsoNormal style='font-size:10.0pt;font-family:Arial;'>(viii) shall not contain any viruses, Trojan horses, worms,
time bombs or other computer programming routines that are intended to damage,
detrimentally interfere with, surreptitiously intercept or expropriate any
system, data or personal information. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>(ix) shall not post anywhere on MiningSearch.ca or related
sites; false information, spam (as defined under the United states can-spam act
of 2003),<span style="mso-spacerun:yes">&nbsp; </span>unpaid advertising, or
post inflammatory content. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>(d) Solely to enable MiningSearch.ca to use Your Information
you supply to us, so that we are not violating any rights you may have in that
information, you agree to grant us a non-exclusive, world-wide, perpetual,
irrevocable, royalty-free, sublicenseable (through multiple tiers) right to
exercise the copyright and publicity rights, but no other rights, you have in
Your Information, in any media now known or not currently known, with respect
to Your Information. MiningSearch.ca will only use Your Information in
accordance with our Privacy Policy. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.5<span
style="mso-spacerun:yes">&nbsp; </span>Repeat Infringer And Violator Policy<o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca may also, in appropriate circumstances and
at its sole discretion: (a) terminate or suspend your membership; and/or (b)
limit your access to and/or use of any of the MiningSearch.ca website,
including without limitation any Site Content, Applications and/or Services, in
both cases if either (c) MiningSearch.ca deems that you have infringed the
copyright and other intellectual property rights of others, whether or not
there is any repeat infringement; and/or (d) MiningSearch.ca deems that your
conduct and/or User Content has violated this Agreement, whether or not there
is any repeat violation.</p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.6 Personal
Liability<o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>Without limiting in any way the remedies available to
MiningSearch.ca or any other person against you, you agree that in the event
your MiningSearch.ca account is suspended in our sole discretion due to a
violation of (1.4 or 1.5), that you will not become or cause to become a member
of MiningSearch.ca or post in any capacity for a period of ONE YEAR.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.7 Limit Of
Liability <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>1.7.1 YOU UNDERSTAND AND AGREE THAT THE USE OF THE
MiningSearch.ca website IS AT YOUR OWN RISK AND THAT MiningSearch.ca DOES NOT
MAKE, AND EXPRESSLY DISCLAIMS, ANY WARRANTY, TERM OR CONDITION, EXPRESS OR
IMPLIED, STATUTORY OR OTHERWISE, AS TO THE SERVICES OR USE OF THE
MiningSearch.ca<span style="mso-spacerun:yes">&nbsp; </span>website TO BE
PROVIDED OR WITH RESPECT TO ANY POSTINGS PURSUANT THERETO, INCLUDING BUT NOT
LIMITED TO, ANY WARRANTIES OF SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR
CAUSE OR NON-INFRINGEMENT, OR ANY WARRANTY THAT THE SERVICES WILL BE
UNINTERRUPTED OR ERROR FREE. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><span style="mso-spacerun:yes">&nbsp;</span>1.7.2IN NO EVENT
SHALL MiningSearch.ca OR MiningSearch.caÕs DIRECTORS, OFFICERS, EMPLOYEES,
CONTRACTORS AND AGENTS BE LIABLE FOR LOST PROFITS, LOST SALES, LOST BUSINESS,
LOST OPPORTUNITY, LOST INFORMATION, LOST OR WASTED TIME OR ANY SPECIAL,
INCIDENTAL OR CONSEQUENTIAL DAMAGES (HOWEVER ARISING, INCLUDING NEGLIGENCE)
ARISING OUT OF, OR IN CONNECTION WITH, THIS AGREEMENT.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.8 Exclusion of
Warranties <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>IT IS EXPRESSLY UNDERSTOOD AND AGREED TO BY THE PARTIES
HERETO THAT EXCEPT AS SPECIFICALLY PROVIDED HEREIN, ALL WARRANTIES, EXPRESSED
OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE, ARE HEREBY EXCLUDED.<span style="mso-spacerun:yes">&nbsp;
</span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.9 General
Compliance with Laws <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>You shall comply with all applicable laws, statutes,
ordinances and regulations regarding your use of our service.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.10 Intellectual
Property Rights <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>You recognize and agree that you have no rights in or to,
the whole, or any part of, the trade names &quot; MiningSearch&quot;,
MiningSearch.ca, the MiningSearch.ca logo, and all other uses, including
country specific references and/or usage of the name MiningSearch.ca or to any
of the MiningSearch.ca components or processes, software or data and you will
not, except as otherwise permitted by this Agreement while it is in effect,
disclose, make use of or otherwise infringe upon the intellectual property or
any derivatives thereof, it being specifically understood that the intellectual
property is owned solely and exclusively by MiningSearch.ca or its licensors.
You hereby acknowledge that the market data information provided is the
property of the various exchanges and other information providers and therefore
subject to modifications from the sources and controlled by all copyright and
other interests maintained by the data sources. You agree that upon any
violation of this covenant, MiningSearch.ca shall suffer irreparable harm and
shall be entitled to injunctive relief against any further violation, in
addition to any other damages to which MiningSearch.ca may be entitled. This
covenant is independent of any other covenant, term or condition of this
Agreement and shall survive the expiration or termination of this Agreement, it
being understood that but for the giving of this covenant, MiningSearch.ca
would not have entered into this Agreement.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.11 Notices <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>Except as explicitly stated otherwise, any notices shall be
given by email at MiningSearch.ca or to the email address you provided during
the registration process (in your case), or such other address as the party
shall specify. Notice shall be deemed to be given 24 hours after the email is
sent, unless the sending party is notified that the email address is invalid.
Alternatively, we may give notice by certified mail, postage prepaid and return
receipt requested, to the address provided to us during the registration
process. In such case, notice shall be deemed to be given 3 Business Days after
the date of mailing.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.12 Indemnity <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>You hereby agree to indemnify, defend and hold MiningSearch.ca
its affiliates, and its distribution partners and their officers, directors and
employees harmless for all liability, claims, damages and costs, including,
without limitation, reasonable legal fees, arising out of or in connection with
a breach of your obligations, representations and warranties provided in this
Agreement. You also agree to hold MiningSearch.ca harmless for all liability,
claims, damages and costs, including reasonable legal fees, arising out of or
in connection with any errors, malfunctions or defects in connection with the
MiningSearch.ca website. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.13 Force Majeure <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca shall not be responsible in any manner for
any loss or damage occurring as a result of forces beyond its control,
including, without limitation, any act of God, natural catastrophe, war,
pestilence, labour dispute, telecommunications disruption, or any other matter,
cause or thing which such parties do not directly control.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.14 Termination <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>Either party, upon 10 days written notice to the other
party, may terminate this Agreement without cause. This Agreement may be
terminated immediately by us, without notice, if you fail to comply with this
Agreement. We may also terminate this Agreement immediately if MiningSearch.ca
discontinues operation of this website. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.15 Assignment <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>You may not assign, in whole or in part, any of your rights
or obligations under this Agreement, without the written consent of
MiningSearch.ca </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.16 Legal Fees <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>If any action at law or in equity is necessary to enforce or
interpret the terms of this Agreement, or any of the provisions hereof, the
prevailing party therein shall be entitled to recover from the non-prevailing
party, in addition to any other relief to which such prevailing party may be
entitled, reasonable legal fees, costs and necessary disbursements.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.17 Governing Law <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>This Agreement shall be construed and enforced in accordance
with the laws of the Province of Ontario, Canada. The Parties to this Agreement
agree to submit themselves to the exclusive jurisdiction of the courts of the
Province of Ontario, Canada and agree to attorn any dispute arising from this
Agreement or from use of the MiningSearch.ca to said courts. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'><span
style="mso-spacerun:yes">&nbsp;</span>1.18 Severability <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>If one or more provisions of this Agreement are held to be
invalid, generally or specifically in a given jurisdiction, such invalidity
shall not affect the other provisions hereof, and to this extent, the
provisions of this Agreement are intended to be, and shall be, severable.<span
style="mso-spacerun:yes"> &nbsp; </span> </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.19 Disclosures <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>The services hereunder are offered by MiningSearch.ca
located at 10933 Jane St, Maple, Ontario, Canada L6A 1S1. </p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.20 Modification to
Terms <o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>MiningSearch.ca reserves the right to modify the terms and
conditions of this License Agreement and to terminate customer's access to and
use of the MiningSearch.ca delivered data at any time and without prior
notice.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'><b style='mso-bidi-font-weight:normal'>1.21 Entire Agreement
<o:p></o:p></b></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>This Agreement constitutes the entire agreement between you
and MiningSearch.ca and supersedes all other agreements. No other
representations or warranties are made, save for those contained within this
Agreement.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p class=MsoNormal  style='font-size:10.0pt;font-family:Arial;'>BY CLICKING THE &quot;REGISTER&quot; BUTTON I AM ACKNOWLEDGING
THAT I HAVE READ THE TERMS OF THIS AGREEMENT AND AGREE TO BE BOUND BY THEM.</p>

</div>
</div>
</div>
</div>
</div>

{% endblock %}

