/*!
 * K1M
 *
 * additional Costumized CSS
*/


/* make footer stick to bottom */
html,body{
	height: 100%;
}

body {
	position: relative;
	/*background: #DDDCE2 url(../img/body_bg.jpg) repeat left top;*/
	-webkit-font-smoothing: antialiased;
	/*font-family: 'Lato', sans-serif !important;*/
	/*padding-top: 107px;*/
}

.wrapper{
	min-height: 100%;
	position:relative;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
}


/* Height of push differs on different screen widths */
.push{
	height: 230px;
}

@media (min-width: 767px) and (max-width: 1200px) {
	.push{	height: 250px; }
}


@media (max-width: 767px) and (min-width: 500px) {
	.push {	height: 300px;}
}

@media (max-width: 480px) and (min-width: 305px) {
	.push {	height: 400px;}
}

/*@media (max-width: 305px) and (min-width: 0px) {
	.push {	height: 400px;}
}*/

.navbar .nav > li > a {
	outline:none !important;
}


#footer{
	margin-bottom: 0;
	/*width:100%;*/
	position: absolute;
	left: 0;
	bottom: 0;
}
/*--------------------*/

.navbar .brand{
	padding: 6px 20px 0px;
	/*margin-right: 40px;*/
}

.navbar .brand img{
	height: 25px;
}

.navbar-inner{
	padding: 0 !important;
}

.form-horizontal {
	margin-bottom: 0;
}


@media (min-width: 767px) {
	#contentContainer {
		margin-top: 20px;
	}
}



@media (max-width: 980px) and (min-width: 0px) {
	.navbar-search > .input-append > input{
		width: 90%;
	}
}

.right-align{
	text-align: right !important;
}

.centered {
	float: none !important;
	margin: 0 auto;
}


.table-noheader > tbody > tr:nth-child(1) > td{
	border-top: none;
}


.placeholder { color: #d0d0d0; }
::-webkit-input-placeholder { color: #d0d0d0; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #d0d0d0; }


.modal-footer-mobile{
	display: none;
}

@media (max-height: 565px) and (min-height: 0px) {
	.modal-footer-mobile{
		display: block;
	}

	.modal-body{
		overflow-y: visible;
	}

	.modal-footer{
		display: none;
	}

	.modal.fade.in {
		top: 0%;
	}
	.modal{
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}


.icon-facebook-footer, .icon-twitter-footer{
	font-size: 30px;
	color: gray;
}

.icon-facebook-footer:hover{
	color: #3b59bb;
}

.icon-twitter-footer:hover{
	color: rgb(64, 209, 255);
}


