/*.main-search-box {
	font-family: georgia;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.select2-container-multi .select2-choices {
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*----------------------------------------------------------*/

@media (min-width: 767px) {
	.c-group > label{
		text-align: right;
	}
}

@media (min-width: 767px) {
	.control-group > label{
		text-align: right;
	}
}

.c-group .radio.inline, .c-group .checkbox.inline{
	padding-top: 0;
}

/* Fixing select2 in div.control-group issues. Copied these from bootstrap css */
.form-horizontal .c-group::before, .form-horizontal .c-group::after {
	display: table;
	content: "";
	line-height: 0;
}

.form-horizontal .c-group::after {
	clear: both;
}

.form-horizontal .c-group {
	margin-bottom: 20px;
}
.c-group {
	margin-bottom: 10px;
}