/*!
 * K1M
 *
 * additional Costumized CSS
*/

body{
	/*background-color: #eeeeee;*/
}

.well{
	/*background-color: #fff;*/
}

.widget-box-header{
	margin: -20px;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid #e3e3e3;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.widget-box-icon{
	/*border-left: 1px solid #eee;*/
	margin: 1px 10px 0 5px;
}

.carousel-control {
	background: transparent;
	border: none;
	border-radius: 0;
	top: 48%;
}

.price-down {
	color: red;
}

.price-up {
	color: green;
}

@media (max-width: 980px) and (min-width: 767px) {
	.snapshot-table {
		display: block;
		overflow-x: auto;
		font-size: 13px;
	}
}