{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load rss %}

{% block CSS %}
	<link href="{% static 'stylesheets/docs_homepage.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row-fluid">
			<!-- THE Portfolio results -->
			<div class="span9">

			<div class="row-fluid">
				<table class="table table-striped table-hover" id="portfolio">
					<thead>
						<tr>
							<th>Ticker Symbol</th>
							<th>Name</th>
							<th>Last Trade Value</th>
							<th class="hidden-phone">Volume</th>
							<th class="hidden-phone">Market Cap</th>
							<th class="hidden-phone">Shares Outstanding</th>
						</tr>
					</thead>
					<tbody class="search-results">
						{% for company in companies %}
							<tr>
								<td><a href="/company/{{ company.ticker_symbol }}">{{ company.ticker_symbol }}</a></td>
								<td><a href="/company/{{ company.ticker_symbol }}">{{ company.company_name|slice:":20" }}</a></td>
								<td>{{ company.financialinfo.price }}</td>
								<td class="hidden-phone">{{ company.financialinfo.shorter_volume }}</td>
								<td class="hidden-phone">{{ company.financialinfo.shorter_mkcap }}</td>
								<td class="hidden-phone">{{ company.financialinfo.shorter_outstanding }}</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="6">Currently not following any companies. You can follow any companies by clicking on the link in its profile page</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="row-fluid">
				<div class="span12 well">
					<h5 class="widget-box-header"><i class="icon-globe widget-box-icon"></i><span class="widget-box-title">Latest News</span></h5>
					{% cache 5 portfolio_news  %}
					<ol>
						{% for company in rss %}
							{% get_rss company as rss %}
							{% for entry in rss.entries|slice:":2" %}
							<h5><a href="{{entry.link}}">{{entry.title}}</a></h5>
							{% endfor %}
						{% endfor %}
					</ol>
					{% endcache %}
				</div>
			</div>

			</div>
			
			<!-- ads -->
			<div class="span3">
				{% if results_client_side_ad %}
				<div class="row-fluid">
					<div class="span12">
						<a href="/msadtrackr/{{ results_client_side_ad.pk }}/asjf7sdfue88fofhsew81/" target="_blank"><img src="/media/{{ results_client_side_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
				{% if results_broker_side_ad %}
				<div class="row-fluid">
					<div class="span12">
						<a href="/msadtrackr/{{ results_broker_side_ad.pk }}/askdjfkjldidhfodf873e8oej/" target="_blank"><img src="/media/{{ results_broker_side_ad.picture }}" alt=""></a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block JS %}
{% endblock %}
{% block jQuery %}
{% endblock %}