{% extends "base.html" %}
{% load staticfiles %}

{% block CSS %}
	<link href="{% static 'stylesheets/docs_user_profile.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/datepicker.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
	<h3>
		{% if this_user.first_name or this_user.last_name %}
			{{ this_user.first_name }} {{ this_user.last_name }}
		{% else %}
			<span class="flname">Firstname</span><span class="flname">Lastname</span>
		{% endif %}
	 	({{ this_user.username }})
	</h3>

	<div class="row-fluid">
		<div class="span6 well">
			<div class="row-fluid">
				<h4 class="span12">Date of birth: </h4>
				<p>
					{% if this_user.userprofile.dob %}
						{{ this_user.userprofile.dob }}
					{% else %}
						Not set yet
					{% endif %}
				</p>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h4>Gender: </h4>
					<p>
						{% if this_user.userprofile.gender %}
						{{ this_user.userprofile.gender }}
					{% else %}
						Not set yet
						{% endif %}
					</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h4 class="span12">Location: </h4>
					<p>
						{% if this_user.userprofile.location %}
							{{ this_user.userprofile.location }}
						{% else %}
							Not set yet
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="span6 well">
			<div class="row-fluid">
				<div class="span12">
					<h4 class="span12">Type of investor: </h4>
					<p>{% for type in this_user.userprofile.type_of_investor.all %}
						{{ type }} {% if not forloop.last %}, {% endif %}
					{% endfor %}</p>
				</div>
			</div>
			<br>
			<div class="row-fluid">
				<div class="span12">
					<h4 class="span12">Looking for: </h4>
					{% for commo in this_user.userprofile.looking_for_commodities.all %}
						{{ commo }} {% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<a href="/profile/password/change/" class="btn btn-primary pull-right btn-large"><i class="icon-cogs"></i>Change password</a>
		<a href="settings/" class="btn btn-primary pull-right btn-large"><i class="icon-cogs"></i>Edit Settings</a>
	</div>
</div>
{% endblock %}

{% block JS %}
	<script type="text/javascript" src="{% static 'javascript/select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/bootstrap-datepicker.js' %}"></script>
{% endblock JS %}

{% block jQuery %}
	<script type="text/javascript">
		function selectify () {
			if (($("body").width() > 767)){
				$("select").not(".not-select2").select2();
			} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
				$("select").not(".not-select2").select2();
			}
		}

		$(document).ready(function() {
			selectify();
			$('.datepicker').datepicker({'viewMode': 2});
		});
	</script>
{% endblock jQuery %}