{% extends "base.html" %}
{% load staticfiles %}

{% block CSS %}
	<link href="{% static 'stylesheets/docs_user_profile.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/datepicker.css' %}" rel="stylesheet">
	<link href="{% static 'stylesheets/select2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
	<form action="." method="POST" id="edit_from">{% csrf_token %}
	<h3>
		{% if user.first_name or user.last_name %}
			{{ user.first_name }} {{ user.last_name }}
		{% else %}
			<span class="flname">Firstname</span><span class="flname">Lastname</span>
		{% endif %}
	 	({{ user.username }})
	</h3>

	<div class="row-fluid">
		<div class="span6 well">
			<div class="row-fluid"><div class="span3">Name: </div>{{ user_form.first_name }}{{ user_form.last_name }}</div>
			<div class="row-fluid">
				<div class="span3">Date of birth: </div>
				<div class="input-append date datepicker" data-date="1970-01-01" data-date-format="yyyy-mm-dd">
					{{ profile_form.dob }}
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
			</div>
			<div class="row-fluid"><div class="span3">Gender: </div><span>{{ profile_form.gender }}</span></div>
			<div class="row-fluid"><div class="span3">Location: </div><span>{{ profile_form.location }}</span></div>
		</div>
		<div class="span6 well">
			<div class="row-fluid"><div class="span3">Type of investor: </div>{{ profile_form.type_of_investor }}</div><br>
			<div class="row-fluid"><div class="span3">Favourite commodities: </div><span>{{ profile_form.looking_for_commodities }}</span></div><br>
			<div class="row-fluid"><div class="span3">Favourite companies: </div><span>{{ profile_form.tracked_companies }}</span></div>
		</div>
		<a href="/profile/password/change/" class="btn btn-primary pull-right btn-large"><i class="icon-cogs"></i>Change password</a>
		<input class="btn btn-primary pull-right btn-large" type='submit'>
	</div>

	{% block confirm_submit_modal %}
	<!-- confirm submit Modal -->
	<div id="confirm_submit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Confirm submission</h3>
		</div>
		<div class="modal-body">
			<p>Confirm the changes</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" class="btn btn-primary" value="Submit">
		 </div>
	</div>
	{% endblock confirm_submit_modal %}
</form>
</div>
{% endblock %}

{% block JS %}
	<script type="text/javascript" src="{% static 'javascript/select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/bootstrap-datepicker.js' %}"></script>
{% endblock JS %}

{% block jQuery %}
	<script type="text/javascript">
		function selectify () {
			if (($("body").width() > 767)){
				$("select").not(".not-select2").select2();
			} else if(!( (/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent) )){
				$("select").not(".not-select2").select2();
			}
		}

		$(document).ready(function() {
			selectify();
			$('.datepicker').datepicker({'viewMode': 2});
		});
	</script>
{% endblock jQuery %}